<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/EvalCalculation2.js') }}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
	<style>
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1368px) {
  .container {
    max-width: 1330px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid rgba(123, 30, 43, 0.9);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:105%; /* Could be more or less, depending on screen size */
}

</style>
</head>
<script>
$(document).ready(function(){
/*
 $("#register").click(function()
 {
                    totalrevenue=$("#revenues").val();
                    materialexp=$("#materialexp").val();
                    personalexp=$("#personalexp").val();
                    otherexp=$("#otherexp").val();
                    otherincome=$("#otherincome").val();
                    depreciation=$("#depreciation").val();
                    interestexp=$("#interestexp").val();
                    interestincome=$("#interestincome").val();
                    incometax=$("#incometaxes").val();
                    pertotalrevenue=$("#perrevenues").val();
                    permaterialexp=$("#permaterialexp").val();
                    perpersonalexp=$("#perpersonalexp").val();
                    perotherexp=$("#perotherexp").val();
                    perotherincome=$("#perotherincome").val();
                    perdepreciation=$("#perdepreciation").val();
                    perinterestexp=$("#perinterestexp").val();
                    perinterestincome=$("#perinterestincome").val();
                    perincometax=$("#incometaxes").val();

                    country=$("#country option:selected").text();
                    emailaddress=$("#email").val();
                    contactnumber=$("#phonenumber").val();
                    firstname=$("#fname").val();
                    lastname=$("#lname").val();
                    industryname=$("#industry option:selected").val();
                    city=$("#city").val();
                    address=$("#address").val();
                    state=$("#state").val();
                    zip=$("#zip").val();
                    website=$("#website").val();

                    companyname=parseFloat($("#companyname").val());







  });

*/
});

</script>


{% for each1 in userdata %}
<script type="text/javascript">
//onload event for avanevaluation  data
        $(document).ready(function(){

         $("div").each(function(){




            if( typeof($(this).attr("class"))!="undefined"   &&  $(this).attr("class").indexOf("year")!=-1) {


             var yr=0;
             if($(this).attr("class").indexOf("income_statement")!=-1)
             yr =$(this).attr("class").slice(30,);

             if($(this).attr("class").indexOf("balance_sheet")!=-1)
             yr =$(this).attr("class").slice(27,);

             if($(this).attr("class").indexOf("investment")!=-1)
             yr =$(this).attr("class").slice(24,);

             if (yr == "{{each1.year}}"){

             var rev=parseFloat("{{each1.revenues}}");
             if(rev==0)
             {
             rev=1;
             }
             $(this).children(".revenues").val(german_format("{{each1.revenues}}"));
             $(this).children(".revenuesper").html("&nbsp;"+((rev/rev)*100).toFixed(2)+"%");

             $(this).children(".materialexpenses").val(german_format("{{each1.materialexpenses}}"));
              var materialexpenses=parseFloat("{{each1.materialexpenses}}");
              $(this).children(".materialexpensesper").html("&nbsp;"+((materialexpenses/rev)*100).toFixed(2)+"%");
             $(this).children(".personnelexpenses").val(german_format("{{each1.personnelexpenses}}"));
             var personnelexpenses=parseFloat("{{each1.personnelexpenses}}");
             $(this).children(".personnelexpensesper").html("&nbsp;"+((personnelexpenses/rev)*100).toFixed(2)+"%");
             $(this).children(".otherexpenses").val(german_format("{{each1.otherexpenses}}"));

             var otherexpenses=parseFloat("{{each1.otherexpenses}}");
             $(this).children(".otherexpensesper").html("&nbsp;"+((otherexpenses/rev)*100).toFixed(2)+"%");
             $(this).children(".otherincome").val(german_format("{{each1.otherincome}}"));

             var otherincome=parseFloat("{{each1.otherincome}}");
             $(this).children(".otherincomeper").html("&nbsp;"+((otherincome/rev)*100).toFixed(2)+"%");
             $(this).children(".ebitda").val(german_format("{{each1.ebitda}}"));
              var ebitda=parseFloat("{{each1.ebitda}}");
             $(this).children(".ebitdaper").html("&nbsp;"+((ebitda/rev)*100).toFixed(2)+"%");

             $(this).children(".depreciation").val(german_format("{{each1.depreciation}}"));
              var depreciation=parseFloat("{{each1.depreciation}}");
             $(this).children(".depreciationper").html("&nbsp;"+((depreciation/rev)*100).toFixed(2)+"%");
             $(this).children(".ebt").val(german_format("{{each1.ebt}}"));

              var ebt=parseFloat("{{each1.ebt}}");
             $(this).children(".ebtper").html("&nbsp;"+((ebt/rev)*100).toFixed(2)+"%");
             $(this).children(".incometax").val(german_format("{{each1.incometax}}"));

              var incometax=parseFloat("{{each1.incometax}}");
             $(this).children(".incometaxper").html("&nbsp;"+((incometax/rev)*100).toFixed(2)+"%");
             $(this).children(".netincome").val(german_format("{{each1.netincome}}"));

              var netincome=parseFloat("{{each1.netincome}}");
             $(this).children(".netincomeper").html("&nbsp;"+((netincome/rev)*100).toFixed(2)+"%");
             $(this).children(".ebitdamargin").val(german_format("{{each1.ebitdamargin}}"));

             $(this).children(".ebit").val(german_format("{{each1.ebit}}"));

              var ebit=parseFloat("{{each1.ebit}}");
             $(this).children(".ebitper").html("&nbsp;"+((ebit/rev)*100).toFixed(2)+"%");
             $(this).children(".interestexpenses").val(german_format("{{each1.interestexpenses}}"));

              var interestexpenses=parseFloat("{{each1.interestexpenses}}");
             $(this).children(".interestexpensesper").html("&nbsp;"+((interestexpenses/rev)*100).toFixed(2)+"%");
             $(this).children(".interestincome").val(german_format("{{each1.interestincome}}"));
             var interestincome=parseFloat("{{each1.interestincome}}");
             $(this).children(".interestincomeper").html("&nbsp;"+((interestincome/rev)*100).toFixed(2)+"%");
             $(this).children(".ebitmargin").val(german_format("{{each1.ebitmargin}}"));
             var ebitmargin=parseFloat("{{each1.ebitmargin}}");
             $(this).children(".ebitmarginper").html("&nbsp;"+((ebitmargin/rev)*100).toFixed(2)+"%");



             $(this).children(".fixedasset").val(german_format("{{each1.fixedasset}}"));
             $(this).children(".finanacialasset").val(german_format("{{each1.finanacialasset}}"));
             $(this).children(".inventories").val(german_format("{{each1.inventories}}"));
             $(this).children(".trade").val(german_format("{{each1.trade}}"));
             $(this).children(".othercurrentassets").val(german_format("{{each1.othercurrentassets}}"));
             $(this).children(".cash").val(german_format("{{each1.cash}}"));
             $(this).children(".totalcurrentassets").val(german_format("{{each1.totalcurrentassets}}"));
             $(this).children(".totalassets").val(german_format("{{each1.totalassets}}"));
             $(this).children(".equity").val(german_format("{{each1.equity}}"));
             $(this).children(".financialdebt").val(german_format("{{each1.financialdebt}}"));
             $(this).children(".pensionprovisions").val(german_format("{{each1.pensionprovisions}}"));
             $(this).children(".otherprovisions").val(german_format("{{each1.otherprovisions}}"));
             $(this).children(".tradepayables").val(german_format("{{each1.tradepayables}}"));
             $(this).children(".otherliabilities").val(german_format("{{each1.otherliabilities}}"));
             $(this).children(".totalliabilities").val(german_format("{{each1.totalliabilities}}"));
             $(this).children(".totalequity").val(german_format("{{each1.totalequity}}"));
             $(this).children(".capitalexpendituresinfixedasset").val(german_format("{{each1.capitalexpendituresinfixedasset}}"));
             $(this).children(".capitalexpenditurepercent").val(german_format("{{each1.capitalexpenditurepercent}}"));
             $(this).children(".netcurrentassets").val(german_format("{{each1.netcurrentassets}}"));
             $(this).children(".netcurrentassetspercent").val(german_format("{{each1.netcurrentassetspercent}}"));
             }
             }
            });

            })
</script>
{% endfor %}






<body>

 <div class='fixedcontaint' style="margin:0px">
    <nav class='inner-container navbar navbar-expand-sm' style="margin:0px">
        <span class='logo navbar-brand' >
            <a>
            <img height='40' width='120' src='https://www.avandil.com/wp-content/uploads/2015/11/Avandil-Logo.png' alt='AVANDIL - Unternehmensverkauf und Unternehmenskauf' />
            <span style="color:black;none;font-size:20px;display:inline-block;vertical-align:bottom">e-Valuation</span>
           </a>
        </span>

    </nav>

    <br>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#"><b><i>AVANDIL</i> </b>e-Valuation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><b>PnL</b></i> Plan  <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#"><i><b>PnL</b></i> Auto-Calculation</a></li>
            <li><a href="#"><i><b>PnL</b></i>  Manual</a></li>

          </ul>
        </li>
        <li><a href="#">Sample Evaluation</a></li>
        <li><a href="#">Final Evaluation</a></li>
c
      </ul>
      <ul class="nav navbar-nav navbar-right">
    {% if session['logged_in'] == True %}
      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
    {% else %}
      <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
    {% endif %}
</ul>
    </div>
  </div>
</nav>
    </div>



 <ul class="nav nav-tabs " >
    <li class="active"><a data-toggle="tab"  align="center" style="background-color:yellow">welcome {{user}}</a></li>
</ul>

<div class="container">
	<div class="col-lg-12 well modal-content  animate">

	<div class="row">
        	<form  method="post" action="#">
						<div id="form1" >
							<h1 class="well" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold>PnL Auto-Calculate  </bold></h1>
					<div class="row">
							<div class="col-sm-12 " >
							<div class="col-sm-6 form-group " align="center" >
								<label>Total Revenues</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="revenues" name="firstname" type="number" value="{{valtr}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Material Expenses/Purchased Services</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="material_expenses" name="firstname" type="number" value="{{valme}}" min="0" max="1000">							</div>
							</div>
						    <div class="col-sm-12 form-group">
							<div class="col-sm-6 form-group " align="center">
								<label>Personnel Expenses</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="personnel_expenses" name="firstname" type="number" value="{{valpe}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group"  align="center">
								<label>Other Operating Expenses</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="other_operating_expenses" name="firstname" type="number" value="{{valoe}}" min="0" max="1000">
							</div>
							</div>

							<div class="col-sm-12 form-group" align="center">

							<div class="col-sm-6 form-group " align="center">
								<label>Other Operating Income</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="other_operating_income" name="firstname" type="number" value="{{valoi}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Depreciation & Amortization</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="depreciation" name="firstname" type="number" value="{{valdep}}" min="0" max="1000">
							</div>
							</div>
                 			<div class="col-sm-12 form-group" align="center">
								<div class="col-sm-6 form-group " align="center">
								<label>Interest Expenses</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="interest_expenses" name="firstname" type="number" value="{{valie}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Interest Income</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="interest_income" name="firstname" type="number" value="{{valii}}" min="0" max="1000">
							</div>
								</div>
                            	<div class="col-sm-12" align="right">
									<hr>
									<br>
									<br>
									<button type="button" class="btn btn-lg btn-info" id="nextbtn"  width="320px">Calculate </button>
									<br>
									<br>
					</div>
					</div>


						</div>
			</form>


</div>

	</div>
	</div>
</div>

<script type="text/javascript">

	$("#income_statement").click(function(){
               $("#income_statement_data").css("display","inline");
               $("#balance_sheet_data").css("display","none");
               $("#investment_data").css("display","none");
               $("#income_statement").css("background-color","grey");
               $("#balance_sheet").css("background-color","white");
               $("#investment").css("background-color","white");
               $("#income_statement").css("color","white");
               $("#balance_sheet").css("color","black");
               $("#investment").css("color","black");
               $(".row1").css("display","none");
              });

 $("#balance_sheet").click(function(){
              $("#income_statement_data").css("display","none");
              $("#balance_sheet_data").css("display","inline");
              $("#investment_data").css("display","none");
              $("#income_statement").css("background-color","white");
              $("#balance_sheet").css("background-color","grey");
              $("#investment").css("background-color","white");
              $("#income_statement").css("color","black");
              $("#balance_sheet").css("color","white");
              $("#investment").css("color","black");
              $(".row1").css("display","none");
             });

 $("#investment").click(function(){
             $("#income_statement_data").css("display","none");
             $("#balance_sheet_data").css("display","none");
             $("#investment_data").css("display","inline");
             $("#income_statement").css("background-color","white");
             $("#balance_sheet").css("background-color","white");
             $("#investment").css("background-color","grey");
             $("#income_statement").css("color","black");
             $("#balance_sheet").css("color","black");
             $("#investment").css("color","white");
             $(".row1").css("display","none");
           });



	 </script>
</body>

</html>