<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVANDiL EVALu@TION</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<style>
.button {
  border-radius: 2px;
  background-color: #90EE90;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({}, 'google_translate_element');
}
</script>
 <style>
    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }
    .goog-te-combo > option:not([value="en"]):not([value="de" ]):not([value="es" ])

{
display:none;
}
.goog-logo-link
 {
    display: none !important;
    }
</style>
<body style="background: url('https://www.avandil.com/wp-content/uploads/2016/03/Startseite-1-4265.jpg');background-repeat: no-repeat; background-size: cover;background-position: right 100px; ">

    <div class='fixedcontaint' style="margin:0px">
    <nav class='inner-container navbar navbar-expand-sm' style="margin:0px">
        <span class='logo navbar-brand' >
            <a>
            <img height='40' width='120' src='https://www.avandil.com/wp-content/uploads/2015/11/Avandil-Logo.png' alt='AVANDIL - Unternehmensverkauf und Unternehmenskauf' />
            <span style="color:black;none;font-size:20px;display:inline-block;vertical-align:bottom">e-Valuation</span>
           </a>
        </span>

    </nav>

    <br>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"  href="/login"><b><i>AVANDIL</i> </b>e-Valuation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/login">Home</a></li>

        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="signupbutton" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" id="loginbutton"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
           <ul class="nav navbar-nav navbar-right"><li> <div id="google_translate_element"></div>
</li></ul>
    </div>
  </div>
</nav>
    </div>



     {% if msg %}
    <div class="w3-panel w3-green w3-display-container">

    <h3>Alert!</h3>
<span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-green w3-large w3-display-topright">&times;</span>

    <p>{{msg}}</p>

  </div>
{% endif %}


<div  id="slide" style="height:350px;width:450px;">
    <div class="slideshow_inner_caption" style="background-color:rgba(123, 30, 43, 0.9)">
        <div class="slideshow_align_caption">
        <h2 style="color:#ffffff; " class="avia-caption-title " itemprop="name">
            <span style="width:450px;">What is the Value of your <b><i>Business ???</i></b></span>
        </h2>
            <div class="avia-caption-content  av_inherit_color" ALIGN="right" itemprop="description" style="color:#333333; ">
                <button class="button" id="login2"><span><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login </span></button>
            </div>
        </div>
    </div>

</div>


<div class="container" >

<div id="id01"  hidden>

  <form class="modal-content animate" action="/login/usernm">
      <br>
      <br>

    <div class="container"><br>
        <br>

      <h4 style="text-align:left;color:#808080;size:16px;">
          Welcome!!! Please sign In with your email address and password.
        </h4>
        <br>
        <br>

      <label for="uname"><b>Username</b></label>
        <br>
      <input type="text" placeholder="Enter Username" name="usernm" required>
        <br>

      <label for="psw"><b>Password</b></label>
        <br>
      <input type="password" placeholder="Enter Password" name="psw" required>

        <label>
        <input type="checkbox"  name="remember"> Remember me
      </label>
        <span class="psw" id="passwordchange"><a href="#"><b> Forgot password?</b></a></span></label>
<br><br>
      <button type="submit">Login</button>
        <br>


    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw"><b>New to Avandil e-Valuation???</b><br> <p id="subscribe" style="color:rgba(123, 30, 43, 0.9)">Subscribe Now</p></span>
    </div>
  </form>
</div>



</div>


<div class="container" >

<div id="id02" hidden  >

  <form class="modal-content animate" action="/joinus_userdetails">
      <br>
      <br>

    <div class="container">

      <h4 style="text-align:left;color:#808080;size:16px;">
          Welcome Into Avandil e-Valuation!!! Please Register with your Username, E-mail and  password.
        </h4>
      <label for="uname"><b>Username</b></label>
        <br>
      <input type="text" placeholder="Enter Username" name="uname" minlength="5" maxlength="1005"  title="Username must  contain min 5 characters" required>
        <br>
       <label for="uname"><b>Email-Id</b></label>
        <br>
      <input type="text" placeholder="Enter Email Id" name="userid"  title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
        <br>
      <label for="psw"><b>Password</b></label>
        <br>
      <input type="password" placeholder="Enter Password" id="psw" name="psw" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." required>
        <br>
      <label for="psw"><b>Confirm Password</b></label>
        <br>
      <input type="password" placeholder="Re-Enter Password" id="cnfpsw" name="cnfpsw"  required><span id='message'></span>
        <br>
        <br>

      <div class="clearfix">
      <button type="button" class="cancelbtn1" onclick="document.getElementById('id02').style.display='none'" style="background-color: #f44336;">Cancel</button>
      <button type="submit" class="signupbtn1" style="background-color:grey;" disabled>Sign Up</button>
    </div>
        <br>
        <br>

    </div>

  </form>
</div>



</div>





<div class="container" >

<div id="id03"  hidden   >

  <form class="modal-content animate" action="/forgotpassword">
      <br>
      <br>

    <div class="container">

      <h4 style="text-align:left;color:#808080;size:16px;">
          To Reset your password please follow the following step:<br>
          Enter your registered Email-id and click on verification button
        </h4>
      <label for="uname"><b>Email-ID</b></label>
        <br>
      <input type="text" placeholder="Enter Email-ID" name="userid" required>
        <br>
        <br>
        <div class=" col-sm-12">

      <div class="clearfix col-sm-4" center="right">
      <button type="submit"  class="w3-button w3-green btn-lg">Varification</button>

    </div>
          <div class="clearfix col-sm-4" center="left">

         <button type="button" class="w3-button w3-red btn-lg cancelbtn1" onclick="document.getElementById('id03').style.display='none'" >Cancel</button>
          </div>
            </div>
        <br>
        <br>

    </div>

  </form>
</div>



</div>
</body>
<style>
body {font-family: Arial, Helvetica, sans-serif;}




/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/
.container {
    padding: 10px;
    width: 70%;
}

span.psw {
    float: right;
    padding-top: 10px;
}

/* The Modal (background) */
.modal1 {
     position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:105%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn1, .signupbtn1 {
    width: 50%;
  }

.cancelbtn1 {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn1 {
  float: left;
  width: 50%;
}


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn1 {
  padding: 14px 20px;
  background-color: #f44336;
}


</style>
<script type="text/javascript">
$(' #cnfpsw').on('keyup', function () {
  if ($('#psw').val() == $('#cnfpsw').val()) {
    $('#message').html('Password Matching').css('color', 'green');
    debugger;
    $(':input[type="submit"]').prop('disabled', false);
    $(".signupbtn1").css("background-color","green");
  } else
    $('#message').html('Not Matching').css('color', 'red');
});

	 $("#signupbutton,#subscribe").click(function(){
  debugger;
        $("#id01").hide();
        $("#home").hide();
        $("#slide").hide();
        $("#id03").hide();


        $("#id02").show();

 });
$("#passwordchange").click(function(){
  debugger;
        $("#id01").hide();
        $("#home").hide();
        $("#slide").hide();
        $("#id03").show();
        $("#id02").hide();

 });
  $("#loginbutton,#login2").click(function(){

        $("#id02").hide();
        $("#home").hide();
        $("#id01").show();
        $("#slide").hide();
         $("#id03").hide();


 });
 $(".cancelbtn1,.cancelbtn").click(function(){

debugger;
        $("#slide").show();


 });

</script>


</html>