<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVANDiL EVALu@TION</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<style>
.button {
  border-radius: 2px;
  background-color: #90EE90;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
 <style>
    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }
    .goog-te-combo > option:not([value="en"]):not([value="de" ]):not([value="es" ])


{
display:none;
}
.goog-logo-link
 {
    display: none !important;
    }
</style>
<body style="background: url('https://www.avandil.com/wp-content/uploads/2016/03/Startseite-1-4265.jpg');background-repeat: no-repeat; background-size: cover;background-position: right 100px; ">

    <div class='fixedcontaint' style="margin:0px">
    <nav class='inner-container navbar navbar-expand-sm' style="margin:0px">
        <span class='logo navbar-brand' >
            <a>
            <img height='40' width='120' src='https://www.avandil.com/wp-content/uploads/2015/11/Avandil-Logo.png' alt='AVANDIL - Unternehmensverkauf und Unternehmenskauf' />
            <span style="color:black;none;font-size:20px;display:inline-block;vertical-align:bottom">e-Valuation</span>
           </a>
        </span>

    </nav>

    <br>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"  href="/login"><b><i>AVANDIL</i> </b>e-Valuation</a>
    </div>
           <ul class="nav navbar-nav navbar-right">
               <li>
                   <div id="google_translate_element"></div>
               </li>
           </ul>
    </div>
</nav>
    </div>



<div class="container" >

<div id="id02"   >

  <form class="modal-content animate" action="/updatepassword/{{usernm}}">
      <br>
      <br>

    <div class="container">
        <h2 align="center">

                Change Password
        </h2>

        <h4 align="center" style="text-align:left;color:#808080;size:16px;">
            Hello {{usernm}}!,<br>
            Now you can set new password for your account
        </h4>
      <label for="uname"><b>New Password</b></label>
        <br>
      <input type="password" placeholder="Enter Username" name="newpassword" required>
        <br>
       <label for="uname"><b>Confirm Password</b></label>
        <br>
      <input type="password" placeholder="Enter Email Id" name="ConfirmPassword" required>
        <br>

        <br>

      <div class="clearfix">
      <button type="submit" class="signupbtn1">Change Password</button>
    </div>
        <br>
        <br>

    </div>

  </form>
</div>



</div>





</body>
<style>
body {font-family: Arial, Helvetica, sans-serif;}




/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/
.container {
    padding: 10px;
    width: 70%;
}

span.psw {
    float: right;
    padding-top: 10px;
}

/* The Modal (background) */
.modal1 {
     position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:105%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn1, .signupbtn1 {
    width: 50%;
  }

.cancelbtn1 {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn1 {
  float: left;
  width: 50%;
}


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn1 {
  padding: 14px 20px;
  background-color: #f44336;
}


</style>
<script type="text/javascript">

	 $("#signupbutton,#subscribe").click(function(){
  debugger;
        $("#id01").hide();
        $("#home").hide();
        $("#slide").hide();
        $("#id03").hide();


        $("#id02").show();

 });
$("#passwordchange").click(function(){
  debugger;
        $("#id01").hide();
        $("#home").hide();
        $("#slide").hide();
        $("#id03").show();
        $("#id02").hide();

 });
  $("#loginbutton,#login2").click(function(){

        $("#id02").hide();
        $("#home").hide();
        $("#id01").show();
        $("#slide").hide();
         $("#id03").hide();


 });
 $(".cancelbtn1,.cancelbtn").click(function(){

debugger;
        $("#slide").show();


 });

</script>


</html>