<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/income_statemenet_yearwise_calculation.js') }}"> </script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation_button_cliicked_event.js') }}"> </script>
</head>
<body>

        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav nav-tabs " >
            <li class="active"><a data-toggle="tab" id="income_statement" align="center" style="background-color:grey">INCOME STATEMENT</a></li>
            <li><a data-toggle="tab" id="balance_sheet" align="center">BALANCE SHEET</a></li>
            <li><a data-toggle="tab" id="investment" align="center">INVESTMENTS</a></li>
        </ul>
        <br>
        <div id="income_statement_data"   class="row" >
            <div class="col-sm-3" style="border-style: inset" >
                <span  fixed>
                <br><br><br>Total Revenues<br>
                <br>Material Expenses/Purchased Services<br>
                <br>Personnel Expenses<br>
                <br>Other Operating Expenses<br><br>
                <br><br>Other Operating Income<br>
                <br><b>EBITDA</b><br>
                <br><b>EBITDA Margin</b><br><br>
                <br><br><p>Depreciation & Amortization<br>
                <br><b>EBIT</b><br>
                <br><b>EBIT Margin</b><br><br>
                <br>Interest Expenses<br>
                <br><br>Interest Income<br>
                <br><b>EBT</b><br>
                <br><b>Income Taxes</b><br><br>
                <br><br><b>Net Income(Loss)</b><br>
                <br><br><br><br><br>
                    </span>
            </div>
            <!--<form  style="border-style: outset" method="get">-->
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 income_statement year2015" align="center"><p>ACT FY15</p>
                                <span fixed>
                                <br><b>&nbsp;&nbsp;(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr15">&nbsp;&nbsp;<span class="revenuesper" ></span><br>
                                <br><b>&nbsp;(-)&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr15" >&nbsp;&nbsp;<span class="materialexpensesper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr15" >&nbsp;<span class="personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr15" ><span class="otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr15" >&nbsp;<span class="otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt right_align ebitda yr15" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr15 fixedtxt"  disabled="disabled"><b>%</b><br><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align depreciation yr15" ><span class="depreciationper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="sum1  right_align ebit yr15 fixedtxt"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr15 fixedtxt" disabled="disabled"><b>%</b><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align interestexpenses yr15" >&nbsp;<span class="interestexpensesper"></span><br><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr15" >&nbsp;<span class="interestincomeper"></span><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr15 fixedtxt"  disabled="disabled">&nbsp;%<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align incometax yr15"  >&nbsp;<span class="incometaxper"></span>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr15 fixedtxt"  disabled="disabled"></span><br>
                                <br><br><br><br><br><br>
                                    </span>
                            </div>
                            <div class="col-sm-4 income_statement year2016" align="center"><p>ACT FY16</p>
                                <span fixed>
                                <br><b>&nbsp;&nbsp;(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr16">&nbsp;&nbsp;<span class="revenuesper" ></span><br>
                                <br><b>&nbsp;(-)&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr16" >&nbsp;&nbsp;<span class="materialexpensesper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr16" >&nbsp;<span class="personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr16" ><span class="otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr16" >&nbsp;<span class="otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt right_align ebitda yr16" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr16 fixedtxt"  disabled="disabled"><b>%</b><br><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align depreciation yr16" ><span class="depreciationper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="sum1  right_align ebit yr16 fixedtxt"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr16 fixedtxt" disabled="disabled"><b>%</b><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align interestexpenses yr16" >&nbsp;<span class="interestexpensesper"></span><br><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr16" >&nbsp;<span class="interestincomeper"></span><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr16 fixedtxt"  disabled="disabled">&nbsp;%<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align incometax yr16"  >&nbsp;<span class="incometaxper"></span>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr16 fixedtxt"  disabled="disabled"></span><br>
                                <br><br><br><br><br><br>
                                    </span>
                            </div>
                            <div class="col-sm-4 income_statement year2017" align="center"><p>ACT FY17</p>
                                    <span fixed>
                                 <br><b>&nbsp;&nbsp;(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr17">&nbsp;&nbsp;<span class="revenuesper" ></span><br>
                                <br><b>&nbsp;(-)&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr17" >&nbsp;&nbsp;<span class="materialexpensesper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr17" >&nbsp;<span class="personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr17" ><span class="otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr17" >&nbsp;<span class="otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt right_align ebitda yr17" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr17 fixedtxt"  disabled="disabled"><b>%</b><br><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align depreciation yr17" ><span class="depreciationper"></span><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="sum1  right_align ebit yr17 fixedtxt"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr17 fixedtxt" disabled="disabled"><b>%</b><br>
                                <br><b>(-)&nbsp;</b><input type="text" class="txt right_align interestexpenses yr17" >&nbsp;<span class="interestexpensesper"></span><br><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr17" >&nbsp;<span class="interestincomeper"></span><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr17 fixedtxt"  disabled="disabled">&nbsp;%<br>
                                <br><b>(-)&nbsp;</b><input type="text"  class="txt right_align incometax yr17"  >&nbsp;<span class="incometaxper"></span>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr17 fixedtxt"  disabled="disabled"></span><br>
                                <br><br><br><br><br><br>
                                    </span>
                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>








        <div id="balance_sheet_data" class="row" style="display:none">
            <div class="col-sm-3" style="border-style: inset"><br><br><br>Fixed assets<br>
                <br>Thereof financial assets<br>
                <br>Inventories<br>
                <br>Trade Receivables<br>
                <br><br>Cash & cash equivalents<br>
                <br>Other Current Assets<br>
                <br><b>Total Current Assets</b><br>
                <br><br><b>Total Assets</b><br>
                <br>Equity<br>
                <br>Financial Debts<br>
                <br>Pension Provisions<br>
                <br><br>Other Provisions<br>
                <br>Trade Payables<br>
                <br>Other Liabilities</b><br>
                <br><br><b>Total Liabilities</b><br>
                <br><b>Total Equity & Liabilities</b>
                <br><br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel1" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 balance_sheet year2015" align="center"><p>ACT FY15</p>
                                <br><input type="text" class="txt1 right_align fixedasset yr15"><br>
                                <br><input type="text" class="txt1 right_align finanacialasset yr15"><br>
                                <br><input type="text" class="txt1 right_align inventories yr15"><br>
                                <br><input type="text" class="txt1 right_align trade yr15"><br>
                                <br><input type="text" class="txt1 right_align cash yr15"><br>
                                <br><input type="text" class="txt1 right_align othercurrentassets yr15"><br>
                                <br><input type="text" class="txt1 right_align totalcurrentassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align equity yr15"><br>
                                <br><input type="text" class="txt1 right_align financialdebt yr15"><br>
                                <br><input type="text" class="txt1 right_align pensionprovisions yr15"><br>
                                <br><input type="text" class="txt1 right_align otherprovisions yr15" ><br>
                                <br><input type="text" class="txt1 right_align tradepayables yr15"><br>
                                <br><input type="text" class="txt1 right_align otherliabilities yr15"><br>
                                <br><input type="text" class="txt1 right_align totalliabilities yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalequity yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2016" align="center"><p>ACT FY16</p>
                                <br><input type="text" class="txt1 right_align fixedasset yr16"><br>
                                <br><input type="text" class="txt1 right_align finanacialasset yr16"><br>
                                <br><input type="text" class="txt1 right_align inventories yr16"><br>
                                <br><input type="text" class="txt1 right_align trade yr16"><br>
                                <br><input type="text" class="txt1 right_align cash yr16"><br>
                                <br><input type="text" class="txt1 right_align othercurrentassets yr16"><br>
                                <br><input type="text" class="txt1 right_align totalcurrentassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align equity yr16"><br>
                                <br><input type="text" class="txt1 right_align financialdebt yr16"><br>
                                <br><input type="text" class="txt1 right_align pensionprovisions yr16"><br>
                                <br><input type="text" class="txt1 right_align otherprovisions yr16" ><br>
                                <br><input type="text" class="txt1 right_align tradepayables yr16"><br>
                                <br><input type="text" class="txt1 right_align otherliabilities yr16"><br>
                                <br><input type="text" class="txt1 right_align totalliabilities yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalequity yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2017" align="center"><p>ACT FY17</p>
                                <br><input type="text" class="txt1 right_align fixedasset yr17"><br>
                                <br><input type="text" class="txt1 right_align finanacialasset yr17"><br>
                                <br><input type="text" class="txt1 right_align inventories yr17"><br>
                                <br><input type="text" class="txt1 right_align trade yr17"><br>
                                <br><input type="text" class="txt1 right_align cash yr17"><br>
                                <br><input type="text" class="txt1 right_align othercurrentassets yr17"><br>
                                <br><input type="text" class="txt1 right_align totalcurrentassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align equity yr17"><br>
                                <br><input type="text" class="txt1 right_align financialdebt yr17"><br>
                                <br><input type="text" class="txt1 right_align pensionprovisions yr17"><br>
                                <br><input type="text" class="txt1 right_align otherprovisions yr17" ><br>
                                <br><input type="text" class="txt1 right_align tradepayables yr17"><br>
                                <br><input type="text" class="txt1 right_align otherliabilities yr17"><br>
                                <br><input type="text" class="txt1 right_align totalliabilities yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 right_align totalequity yr17" disabled="disabled">
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="investment_data" class="row" style="display:none">
            <div class="col-sm-3" style="border-style: inset"><br><br><br>Capital expenditures in fixed asset<br>
                <br>Capital expenditures in fixed assets(%)<br>
                <br>Net current assets<br>
                <br>Net current assets(%)<br>
                <br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel2" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 investment year2015" align="center"><p>ACT FY15</p>
                                <br><input type="text" class="txt2 right_align capitalexpendituresinfixedasset yr15"><br>
                                <br><input type="text" class="txt2 right_align capitalexpenditurepercent yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassetspercent yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2016" align="center"><p>ACT FY16</p>
                                <br><input type="text" class="txt2 right_align capitalexpendituresinfixedasset yr16"><br>
                                <br><input type="text" class="txt2 right_align capitalexpenditurepercent yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassetspercent yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2017" align="center"><p>ACT FY17</p>
                                <br><input type="text" class="txt2 right_align capitalexpendituresinfixedasset yr17"><br>
                                <br><input type="text" class="txt2 right_align capitalexpenditurepercent yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt2 right_align netcurrentassetspercent yr17" disabled="disabled">
                                <br><br><br><br>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-8" id="submitbtn" align="right">
            <br><br><br>
            <a href="/login">
                <button class="btn btn-success button "  type="submit" value=" Submit" id="submit"  />SUBMIT</button>
            </a>
        </div>

    </form>

</body>
<style>
.button {
  border-radius: 7px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}

.vertical_line {
  border: thick solid #ff0000;
  padding:1%;
}


.horizontal_line {
  border: thick solid #ff0000;
  padding:10%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
    interval: false;
}

.content {
  margin: 0;
  padding: 0;
}

.content div {
  margin: 0;
  padding: 0;
  width: 33.33333%;
  list-style: none;
  text-align: center;
}



.txt
{
width:150px;
margin:auto;

}


.fixedtxt
{
width:250px;
margin:auto;

}


span
{
width:130px;
}
txt
{
float: left;
}

.right_align {
    text-align:right;
}


</style>

</html>