<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/EvalCalculation2.js') }}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Title</title>
	<style>
	     .carousel-control {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
    interval: false;
	}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1368px) {
  .container {
    max-width: 1330px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid rgba(123, 30, 43, 0.9);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:105%; /* Could be more or less, depending on screen size */
}
.txt {
//width:50%;
text-align:right;
}

</style>
</head>

<script type="text/javascript">
        $(document).ready(function(){
              $.ajax({
                              type: "POST",
                              dataType: 'json',
                              async: false,
                              cache: false,
                             url: "/getsession",
                             success: function(e)
                             {

                             if(e.session_message=="You were logged out" )
                             {
                                window.location.href="/login";

                             }

                             }
                         })


        window.onhashchange=function(){
        }
        $("#logout").click(function(){

        var url = window.location.href;
        window.history.go(-window.history.length);
        window.location.href = url;

        });


 var thehours = new Date().getHours();
	var themessage;
	var morning = ('Good morning');
	var afternoon = ('Good afternoon');
	var evening = ('Good evening');

	if (thehours >= 0 && thehours < 12) {
		themessage = morning;

	} else if (thehours >= 12 && thehours < 17) {
		themessage = afternoon;

	} else if (thehours >= 17 && thehours < 24) {
		themessage = evening;
	}

	$('.greeting').append(themessage+" !!!!!");
	})
</script>
{% for each1 in userdata %}
<script type="text/javascript">


//onload event for avanevaluation  data

        $(document).ready(function(){






         $("div").each(function(){
            if( typeof($(this).attr("class"))!="undefined"   &&  $(this).attr("class").indexOf("year")!=-1) {
             var yr=0;
             if($(this).attr("class").indexOf("income_statement")!=-1)
             yr =$(this).attr("class").slice(30,);

             if($(this).attr("class").indexOf("balance_sheet")!=-1)
             yr =$(this).attr("class").slice(27,);

             if($(this).attr("class").indexOf("investment")!=-1)
             yr =$(this).attr("class").slice(24,);

             if (yr == "{{each1.year}}"){

             var rev=parseFloat("{{each1.revenues}}");
             if(rev==0)
             {
             rev=1;
             }
             $(".txt").css("width","60%");
             $(".txt1").css("font-size","75%");

             $(this).children(".revenues").val(german_format("{{each1.revenues}}"));
             $(this).children(".revenuesper").html("&nbsp;<b>"+((rev/rev)*100).toFixed(2)+"%</b>");

             $(this).children(".materialexpenses").val(german_format("{{each1.materialexpenses}}"));
              var materialexpenses=parseFloat("{{each1.materialexpenses}}");
              $(this).children(".materialexpensesper").html("&nbsp;<b>"+((materialexpenses/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".personnelexpenses").val(german_format("{{each1.personnelexpenses}}"));
             var personnelexpenses=parseFloat("{{each1.personnelexpenses}}");
             $(this).children(".personnelexpensesper").html("&nbsp;<b>"+((personnelexpenses/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".otherexpenses").val(german_format("{{each1.otherexpenses}}"));

             var otherexpenses=parseFloat("{{each1.otherexpenses}}");
             $(this).children(".otherexpensesper").html("&nbsp;<b>"+((otherexpenses/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".otherincome").val(german_format("{{each1.otherincome}}"));

             var otherincome=parseFloat("{{each1.otherincome}}");
             $(this).children(".otherincomeper").html("&nbsp;<b>"+((otherincome/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".ebitda").val(german_format("{{each1.ebitda}}"));
              var ebitda=parseFloat("{{each1.ebitda}}");
             $(this).children(".ebitdaper").html("&nbsp;<b>"+((ebitda/rev)*100).toFixed(2)+"%</b>");

             $(this).children(".depreciation").val(german_format("{{each1.depreciation}}"));
              var depreciation=parseFloat("{{each1.depreciation}}");
             $(this).children(".depreciationper").html("&nbsp;<b>"+((depreciation/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".ebt").val(german_format("{{each1.ebt}}"));

              var ebt=parseFloat("{{each1.ebt}}");
             $(this).children(".ebtper").html("&nbsp;<b>"+((ebt/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".incometax").val(german_format("{{each1.incometax}}"));

              var incometax=parseFloat("{{each1.incometax}}");
             $(this).children(".incometaxper").html("&nbsp;<b>"+((incometax/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".netincome").val(german_format("{{each1.netincome}}"));

              var netincome=parseFloat("{{each1.netincome}}");
             $(this).children(".netincomeper").html("&nbsp;<b>"+((netincome/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".ebitdamargin").val(german_format("{{each1.ebitdamargin}}"));

             $(this).children(".ebit").val(german_format("{{each1.ebit}}"));

              var ebit=parseFloat("{{each1.ebit}}");
             $(this).children(".ebitper").html("&nbsp;<b>"+((ebit/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".interestexpenses").val(german_format("{{each1.interestexpenses}}"));

              var interestexpenses=parseFloat("{{each1.interestexpenses}}");
             $(this).children(".interestexpensesper").html("&nbsp;<b>"+((interestexpenses/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".interestincome").val(german_format("{{each1.interestincome}}"));
             var interestincome=parseFloat("{{each1.interestincome}}");
             $(this).children(".interestincomeper").html("&nbsp;<b>"+((interestincome/rev)*100).toFixed(2)+"%</b>");
             $(this).children(".ebitmargin").val(german_format("{{each1.ebitmargin}}"));
             var ebitmargin=parseFloat("{{each1.ebitmargin}}");
             $(this).children(".ebitmarginper").html("&nbsp;<b>"+((ebitmargin/rev)*100).toFixed(2)+"%</b>");



             $(this).children(".fixedasset").val(german_format("{{each1.fixedasset}}"));
             $(this).children(".finanacialasset").val(german_format("{{each1.finanacialasset}}"));
             $(this).children(".inventories").val(german_format("{{each1.inventories}}"));
             $(this).children(".trade").val(german_format("{{each1.trade}}"));
             $(this).children(".othercurrentassets").val(german_format("{{each1.othercurrentassets}}"));
             $(this).children(".cash").val(german_format("{{each1.cash}}"));
             $(this).children(".totalcurrentassets").val(german_format("{{each1.totalcurrentassets}}"));
             $(this).children(".totalassets").val(german_format("{{each1.totalassets}}"));
             $(this).children(".equity").val(german_format("{{each1.equity}}"));
             $(this).children(".financialdebt").val(german_format("{{each1.financialdebt}}"));
             $(this).children(".pensionprovisions").val(german_format("{{each1.pensionprovisions}}"));
             $(this).children(".otherprovisions").val(german_format("{{each1.otherprovisions}}"));
             $(this).children(".tradepayables").val(german_format("{{each1.tradepayables}}"));
             $(this).children(".otherliabilities").val(german_format("{{each1.otherliabilities}}"));
             $(this).children(".totalliabilities").val(german_format("{{each1.totalliabilities}}"));
             $(this).children(".totalequity").val(german_format("{{each1.totalequity}}"));
             $(this).children(".capitalexpendituresinfixedasset").val(german_format("{{each1.capitalexpendituresinfixedasset}}"));
             $(this).children(".capitalexpenditurepercent").val("{{each1.capitalexpenditurepercent}}");
             $(this).children(".netcurrentassets").val(german_format("{{each1.netcurrentassets}}"));
             $(this).children(".netcurrentassetspercent").val(german_format("{{each1.netcurrentassetspercent}}"));
             }
             }
            });

            })
</script>
{% endfor %}






<body>

 <div class='fixedcontaint' style="margin:0px">
    <nav class='inner-container navbar navbar-expand-sm' style="margin:0px">
        <span class='logo navbar-brand' >
            <a>
            <img height='40' width='120' src='https://www.avandil.com/wp-content/uploads/2015/11/Avandil-Logo.png' alt='AVANDIL - Unternehmensverkauf und Unternehmenskauf' />
            <span style="color:black;none;font-size:20px;display:inline-block;vertical-align:bottom">e-Valuation</span>
           </a>
        </span>

    </nav>

    <br>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/login"><b><i>AVANDIL</i> </b>e-Valuation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/login">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i><b>P&L</b></i> Plan  <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="/autocalculation" data-toggle="modal"  ><i><b>P&L</b></i> Auto-Calculation</a></li>
            <li><a href="/manualmode"><i><b>P&L</b></i>  Manual</a></li>

          </ul>
        </li>
        <li><a href="#">Sample Evaluation</a></li>
        <li><a href="#">Final Evaluation</a></li>


</ul>


      <ul class="nav navbar-nav navbar-right">
          {% if session['logged_in'] == True %}
          <li><a href="/logout" id="logout">Logout <span class="sr-only">(current)</span></a></li>
          {% else %}
          <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
          {% endif %}
      </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <div id="google_translate_element"></div>
              </li>
          </ul>
        <div class="collapse navbar-collapse" id="myNavbar1">
      <ul class="nav navbar-nav ulclick">
           <li class=" navbar-right ">
               <a href="/autocalculation" class="">

               <label style="font-color:white">Auto Calculation   :  </label>
                 <input id="activeSwitch"  data-toggle="toggle" class="autocalculation" data-on="Enable" data-off="Disable" data-onstyle="success" data-width="90" data-height="30" style="font-size:38px" type="checkbox">
               </a>
           </li>
      </ul>
        </div>
    </div>
  </div>
 </nav>
 </div>


 <ul class="nav nav-tabs " >
     <li class="active"><a data-toggle="tab"  align="center" style="background-color:yellow"> welcome {{user12}} <div class="greeting"></div></a></li>
</ul>

<div class="container" >
	<div class="col-lg-12 well modal-content  animate">

	<div class="row" style="background-color:rgba(123, 30, 43, 0.75) " >
					    <div id="form2" >
							<h1 class="well" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold><i>P&L</i>  </bold></h1>
							<div class=" form-group col-sm-12" >
								<hr>
								<ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav nav-tabs "  >
            <li class="active"><a data-toggle="tab" id="income_statement" align="center" style="background-color:grey">INCOME STATEMENT</a></li>
            <li><a data-toggle="tab" id="balance_sheet" align="center" style="background-color:white">BALANCE SHEET</a></li>
            <li><a data-toggle="tab" id="investment" align="center "style="background-color:white">INVESTMENTS</a></li>

        </ul>
        <br>
        <div id="income_statement_data"   class="row" >
            <div class="col-sm-3" style="border-style: inset;;background-color:#f5f5f5;" >

                 <br><br><br>Total Revenues<br>
                <br>Material Expenses/Purchased Services<br>
                <br>Personnel Expenses<br>
                <br>Other Operating
                <br>Expenses<br><br>
                <br>Other Operating Income<br>
                <br><b>EBITDA</b><br>
                <br><b>EBITDA Margin</b><br><br>
                <br><br><p>Depreciation & Amortization<br>
                <br><b>EBIT</b><br>
                <br><b>EBIT Margin</b><br><br>
                <br>Interest Expenses<br>
                <br><br>Interest Income<br>
                <br><b>EBT</b><br>
                <br><b>Income Taxes</b><br><br>
                <br><br><b>Net Income(Loss)</b><br>
                <br><br><br><br><br>

            </div>
            <!--<form  style="border-style: outset" method="get">-->
              <div class="col-sm-9" style="border-style: outset;background-color:#f5f5f5; " >
                <div id="mycarousel" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                   <div class="item active">
                            <div class="col-sm-4 income_statement year2015" align="left"><p align="center">Year {{yrdisplay[2]}}</p>

                                <br><b>(+)&nbsp;</b><input  type="text"  class="grid-33 txt right_align revenues yr15" required><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr15" required><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr15" required><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr15" required><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr15" required><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt txt right_align ebitda yr15" required style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr15 fixedtxt txt"  required style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align depreciation yr15" required><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="sum1  right_align ebit yr15 fixedtxt txt" required style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr15 fixedtxt txt" required style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align interestexpenses yr15" required><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr15" required><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr15 fixedtxt txt" required style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align incometax yr15" required><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr15 txt fixedtxt txt" required style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br><br>

                            </div>
                            <div class="col-sm-4 income_statement year2016" align="left"><p align="center">Year {{yrdisplay[1]}}</p>

                                <br><b>(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr16"><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr16" ><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr16"><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr16"><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr16"><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt txt right_align ebitda yr16" style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr16 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align depreciation yr16"><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="sum1  right_align ebit yr16 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr16 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align interestexpenses yr16"><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr16"><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr16 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align incometax yr16"><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr16 txt fixedtxt txt" style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br><br>

                            </div>
                            <div class="col-sm-4 income_statement year2017" align="left"><p align="center">Year {{yrdisplay[0]}}</p>

                                <br><b>(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr17"><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr17" ><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr17"><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr17"><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr17"><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt txt right_align ebitda yr17" style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr17 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align depreciation yr17"><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="sum1  right_align ebit yr17 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr17 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align interestexpenses yr17"><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr17"><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr17 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align incometax yr17"><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr17 txt fixedtxt txt" style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br><br>

                           </div>
                        </div>
                       <div class="item">
                       </div>
                    </div>

                </div>
                  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>
                      <span class="sr-only">Next</span>
                  </a>
            </div>
        </div>








        <div id="balance_sheet_data" class="row" style="display:none">
            <div class="col-sm-3" style="border-style: inset;background-color:#f5f5f5;">
                <br><br><br>Fixed assets<br>
                <br>Thereof financial <br> assets<br>
                <br>Inventories<br>
                <br>Trade Receivables<br><br>
                <br><br>Cash & cash equivalents<br>
                <br>Other Current <br> Assets<br>
                <br><b>Total Current <br> Assets</b>
                <br><br><b>Total Assets</b><br><br><br>
                <br>Equity<br>
                <br>Financial Debts<br>
                <br>Pension Provisions<br><br>
                <br>Other Provisions<br>
                <br>Trade Payables<br>
                <br>Other Liabilities<br><br>
                <br><b>Total Liabilities</b><br>
                <br><b>Total Equity<br> & Liabilities</b>
                <br><br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset;background-color:#f5f5f5; ">
                <div id="mycarousel1" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                           <div class="item active">
                            <div class="col-sm-4 balance_sheet year2015" align="center"><p>Year {{yrdisplay[2]}}</p>
                                <br><input type="text" class="txt new1 right_align fixedasset yr15" required><br>
                                <br><input type="text" class="txt new1 right_align finanacialasset yr15" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align inventories yr15" required><br>
                                <br><input type="text" class="txt new1 right_align trade yr15" required><br><br>
                                <br><input type="text" class="txt new1 right_align cash yr15" required><br>
                               <br> <br><input type="text" class="txt new1 right_align othercurrentassets yr15" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalcurrentassets yr15" required disabled="disabled"><br>
                                <br><input type="text" class="txt new1 right_align totalassets yr15" required disabled="disabled"><br><br>
                                <br><input type="text" class="txt new1 right_align equity yr15" required><br>
                                <br><input type="text" class="txt new1 right_align financialdebt yr15" required><br>
                                <br><input type="text" class="txt new1 right_align pensionprovisions yr15" required><br>
                                <br><input type="text" class="txt new1 right_align otherprovisions yr15" required ><br>
                                <br><input type="text" class="txt new1 right_align tradepayables yr15" required><br>
                                <br><input type="text" class="txt new1 right_align otherliabilities yr15" required><br><br>
                                <br><input type="text" class="txt new1 right_align totalliabilities yr15"  disabled="disabled"><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalequity yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2016" align="center"><p>Year {{yrdisplay[1]}}</p>
                          <br><input type="text" class="txt new1 right_align fixedasset yr16" required><br>
                                <br><input type="text" class="txt new1 right_align finanacialasset yr16" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align inventories yr16" required><br>
                                <br><input type="text" class="txt new1 right_align trade yr16" required><br><br>
                                <br><input type="text" class="txt new1 right_align cash yr16" required><br>
                               <br> <br><input type="text" class="txt new1 right_align othercurrentassets yr16" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalcurrentassets yr16" required disabled="disabled"><br>
                                <br><input type="text" class="txt new1 right_align totalassets yr16" required disabled="disabled"><br><br>
                                <br><input type="text" class="txt new1 right_align equity yr16" required><br>
                                <br><input type="text" class="txt new1 right_align financialdebt yr16" required><br>
                                <br><input type="text" class="txt new1 right_align pensionprovisions yr16" required><br>
                                <br><input type="text" class="txt new1 right_align otherprovisions yr16" required ><br>
                                <br><input type="text" class="txt new1 right_align tradepayables yr16" required><br>
                                <br><input type="text" class="txt new1 right_align otherliabilities yr16" required><br><br>
                                <br><input type="text" class="txt new1 right_align totalliabilities yr16"  disabled="disabled"><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalequity yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2017" align="center"><p>Year {{yrdisplay[0]}}</p>
                               <br><input type="text" class="txt new1 right_align fixedasset yr17" required><br>
                                <br><input type="text" class="txt new1 right_align finanacialasset yr17" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align inventories yr17" required><br>
                                <br><input type="text" class="txt new1 right_align trade yr17" required><br><br>
                                <br><input type="text" class="txt new1 right_align cash yr17" required><br>
                               <br> <br><input type="text" class="txt new1 right_align othercurrentassets yr17" required><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalcurrentassets yr17" required disabled="disabled"><br>
                                <br><input type="text" class="txt new1 right_align totalassets yr17" required disabled="disabled"><br><br>
                                <br><input type="text" class="txt new1 right_align equity yr17" required><br>
                                <br><input type="text" class="txt new1 right_align financialdebt yr17" required><br>
                                <br><input type="text" class="txt new1 right_align pensionprovisions yr17" required><br>
                                <br><input type="text" class="txt new1 right_align otherprovisions yr17" required ><br>
                                <br><input type="text" class="txt new1 right_align tradepayables yr17" required><br>
                                <br><input type="text" class="txt new1 right_align otherliabilities yr17" required><br><br>
                                <br><input type="text" class="txt new1 right_align totalliabilities yr17"  disabled="disabled"><br>
                              <br>  <br><input type="text" class="txt new1 right_align totalequity yr17" disabled="disabled">   <br><br><br><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="investment_data" class="row" style="display:none;">
            <div class="col-sm-3" style=" border-style: inset;background-color:#f5f5f5;"><br><br><br>Capital expenditures in fixed asset<br>
                <br>Capital expenditures in fixed assets(%)<br>
                <br>Net current assets<br>
                <br>Net current assets(%)<br>
                <br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset;background-color:#f5f5f5;">
                <div id="mycarousel2" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                              <div class="item active">
                            <div class="col-sm-4 investment year2015" align="center"><p>Year {{yrdisplay[2]}}</p>
                                <br><input type="text" class="txt txt2 right_align capitalexpendituresinfixedasset yr15" required><br><br>
                                <br><input type="text" class="txt txt2 right_align capitalexpenditurepercent yr15"  disabled="disabled"><br><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassetspercent yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2016" align="center"><p>Year {{yrdisplay[1]}}</p>
                                <br><input type="text" class="txt txt2 right_align capitalexpendituresinfixedasset yr16"><br><br>
                                <br><input type="text" class="txt txt2 right_align capitalexpenditurepercent yr16" disabled="disabled"><br><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassetspercent yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2017" align="center"><p>Year {{yrdisplay[0]}}</p>
                                <br><input type="text" class="txt txt2 right_align capitalexpendituresinfixedasset yr17"><br><br>
                                <br><input type="text" class="txt txt2 right_align capitalexpenditurepercent yr17" disabled="disabled"><br><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt txt2 right_align netcurrentassetspercent yr17" disabled="disabled">
                                <br><br><br><br>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    <div class="col-sm-8" id="submitbtn" hidden align="center">

            <a href="/login">
                <button class="btn btn-success button" style="size:250px;"  type="submit" value=" Submit" id="submit" />SUBMIT</button>
            </a>
        <br>
        </div>





						</div>



	</div>
	</div>
</div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({}, 'google_translate_element');
}

$('.ulclick').click(function(){

location.href = "/autocalculation";
});

</script>
 <style>
    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }
  .goog-te-combo > option:not([value="en"]):not([value="de" ]):not([value="es" ])

{
display:none;
}
.goog-logo-link
 {
    display: none !important;
    }
</style>

<script type="text/javascript">

	$("#income_statement").click(function(){
               $("#income_statement_data").css("display","inline");
               $("#balance_sheet_data").css("display","none");
               $("#investment_data").css("display","none");
               $("#income_statement").css("background-color","grey");
               $("#balance_sheet").css("background-color","white");
               $("#investment").css("background-color","white");
               $("#income_statement").css("color","white");
               $("#balance_sheet").css("color","black");
               $("#investment").css("color","black");
               $(".row1").css("display","none");
              });

 $("#balance_sheet").click(function(){
              $("#income_statement_data").css("display","none");
              $("#balance_sheet_data").css("display","inline");
              $("#investment_data").css("display","none");
              $("#income_statement").css("background-color","white");
              $("#balance_sheet").css("background-color","grey");
              $("#investment").css("background-color","white");
              $("#income_statement").css("color","black");
              $("#balance_sheet").css("color","white");
              $("#investment").css("color","black");
              $(".row1").css("display","none");
              $("#id05").show();
             });

 $("#investment").click(function(){
             $("#income_statement_data").css("display","none");
             $("#balance_sheet_data").css("display","none");
             $("#investment_data").css("display","inline");
             $("#income_statement").css("background-color","white");
             $("#balance_sheet").css("background-color","white");
             $("#investment").css("background-color","grey");
             $("#income_statement").css("color","black");
             $("#balance_sheet").css("color","black");
             $("#investment").css("color","white");
             $(".row1").css("display","none");
           });



	 </script>



   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content" style="background-color:#fcf8e3;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color:black"><b>P&L</b></i> Planning</a></h4>
        </div>
        <div class="modal-body" style="color:black">
          <p><b>P&L</b> Planning mode will help you to generate the income statement for futher year </p>
            <p>Do you want to proceed  for the <b>P&L</b> Auto-Calculation mode  ???</p>
        </div>
        <div class="modal-footer" style="color:black">
            <a href="/autocalculation"><button type="button" class="btn btn-default" >Yes</button></a>
            <a href="/manualmode"><button type="button" class="btn btn-default" >No</button></a>
             <a href="/login"><button type="button" class="btn btn-default" >Cancel</button></a>
        </div>
      </div>

    </div>
  </div>










<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="well modal-title" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold>P&L Auto-Calculate  </bold></h4>

        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <br>
            <br>
          		<div class="col-sm-12 " >
                    <br>
            <br>
							<div class="col-sm-6 form-group " align="center" >
								<label>Total Revenues</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="revenues" name="firstname" type="number" value="{{valtr}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Material Expenses/Purchased Services</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="material_expenses" name="firstname" type="number" value="{{valme}}" min="0" max="1000">							</div>
							</div>
						    <div class="col-sm-12 form-group">
							<div class="col-sm-6 form-group " align="center">
								<label>Personnel Expenses</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="personnel_expenses" name="firstname" type="number" value="{{valpe}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group"  align="center">
								<label>Other Operating Expenses</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="other_operating_expenses" name="firstname" type="number" value="{{valoe}}" min="0" max="1000">
							</div>
							</div>

							<div class="col-sm-12 form-group" align="center">

							<div class="col-sm-6 form-group " align="center">
								<label>Other Operating Income</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="other_operating_income" name="firstname" type="number" value="{{valoi}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Depreciation & Amortization</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="depreciation" name="firstname" type="number" value="{{valdep}}" min="0" max="1000">
							</div>
							</div>
                 			<div class="col-sm-12 form-group" align="center">
								<div class="col-sm-6 form-group " align="center">
								<label>Interest Expenses</label>
							<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="interest_expenses" name="firstname" type="number" value="{{valie}}" min="0" max="1000">
							</div>

							<div class="col-sm-6 form-group" align="center" >
								<label>Interest Income</label>
								<input type="number" placeholder="Enter First Name Here.." class="form-control fname input-number" id="interest_income" name="firstname" type="number" value="{{valii}}" min="0" max="1000">
							</div>
								</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-lg btn-info" id="nextbtn"  width="320px">Calculate </button>
        </div>

      </div>
    </div>
  </div>


<div class="container" id="id05"  hidden >
	<div class="col-lg-12 well modal-content  animate">

	<div class="row" style="background-color:rgba(123, 30, 43, 0.75) " >
					    <div id="form5"  >
							<h1 class="well" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold><i><b>P&L</b> Calculation</i>  </bold></h1>
							<div class=" form-group col-sm-12" >
								<hr>
								<ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>

        <br>
        <div id="othercalculation"   class="row"  >
            <div class="col-sm-3" style="border-style: inset;;background-color:#f5f5f5;" >

                <br><br><br>DOS(Days Of Supply)<br>
                <br>DSO(Days Sales OutStanding)<br>
                <br>DPO(Days Payable Outstanding)<br>
               <br><br>

            </div>
            <!--<form  style="border-style: outset" method="get">-->
              <div class="col-sm-9" style="border-style: outset;background-color:#f5f5f5; " >
                <div id="mycarousel4" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>

                    </ol>
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 other_calculation year2015" align="left"><p align="center">Year {{yrdisplay[2]}}</p>

                                <br><b>&nbsp;</b><input type="text" class="grid-33 txt right_align dos yr15"><br>
                                <br><b>&nbsp;&nbsp;</b><input type="text"  class="txt right_align dso  yr15" ><br>
                                <br><b>&nbsp;&nbsp;</b><input type="text"  class="txt right_align dpo  yr15" ><br>
                        <br><br>

                            </div>
                            <div class="col-sm-4 other_calculation year2016" align="left"><p align="center">Year {{yrdisplay[1]}}</p>

                                <br><b>&nbsp;</b><input type="text"  class="grid-33 txt right_align  dos yr16"><br>
                                <br><b>&nbsp;&nbsp;</b><input type="text"  class="txt right_align  dso yr16" ><br>
                                <br><b>&nbsp;&nbsp;</b><input type="text"  class="txt right_align dpo  yr16" ><br>
                                <br><br>

                            </div>
                            <div class="col-sm-4 other_calculation year2017" align="left"><p align="center">Year {{yrdisplay[0]}}</p>

                                <br><b>&nbsp;</b><input type="text"  class="grid-33 txt right_align  dos yr17"><br>
                                <br><b>&nbsp;</b><input type="text"  class="txt right_align  dso yr17" ><br>
                                <br><b>&nbsp;&nbsp;</b><input type="text"  class="txt right_align dpo  yr17" ><br>
                               <br><br>

                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                            </div>
                        </div>
    </div>
    </div>
</div>
</body>
<script>
valchanges=0;
$(".txt").change(function() {
   $("#submitbtn").show();
   valchanges=valchanges+1;
});

$("#submit").click(function() {
var valyear=0,useronline=0,valrevenue=0,valmaterialexpenses=0,valpersonnelexpenses=0,valotherexpenses=0,valotherincome=0,valebitda=0,valebitdamargin=0,valdepreciation=0,valebit=0,valebitmargin=0,valinterestexpenses=0,valinterestincome=0,valebt=0,valincometax=0,valnetincome=0;
var valfixedasset=0,valfinanacialasset=0,valinventories=0,valtrade=0,valothercurrentassets=0,valcash=0,valtotalcurrentassets=0,valtotalassets=0,valequity=0,valfinancialdebt=0,valpensionprovisions=0,valotherprovisions=0,valtradepayables=0,valotherliabilities=0,valtotalliabilities=0,valtotalequity=0,valcapitalexpendituresinfixedasset=0,valcapitalexpenditurepercent=0,valnetcurrentassets =0,valnetcurrentassetspercent=0;
$("div").each(function(){
        if(typeof($(this).attr("class"))!="undefined"   && $(this).attr("class").indexOf("year")!=-1)
          {


                    valyear=$(this).attr("class");
                    useronline="{{user12}}";

                    valrevenue=parseFloat(normal_format($(this).children(".revenues").val()));
                    valmaterialexpenses=parseFloat(normal_format( $(this).children(".materialexpenses").val()));
                    valpersonnelexpenses=parseFloat(normal_format( $(this).children(".personnelexpenses").val()));
                    valotherexpenses=parseFloat(normal_format( $(this).children(".otherexpenses").val()));
                    valotherincome=parseFloat(normal_format( $(this).children(".otherincome").val()));
                    valebitda=parseFloat(normal_format( $(this).children(".ebitda").val()));
                    valebitdamargin=parseFloat(( $(this).children(".ebitdamargin").val()));
                    valdepreciation=parseFloat(normal_format( $(this).children(".depreciation").val()));
                    valebit=parseFloat(normal_format( $(this).children(".ebit").val()));
                    valebitmargin=parseFloat( $(this).children(".ebitmargin").val());
                    valinterestexpenses=parseFloat(normal_format( $(this).children(".interestexpenses").val()));
                    valinterestincome=parseFloat(normal_format( $(this).children(".interestincome").val()));
                    valebt=parseFloat(normal_format( $(this).children(".ebt").val()));
                    valincometax=parseFloat(normal_format( $(this).children(".incometax").val()));
                    valnetincome=parseFloat(normal_format( $(this).children(".netincome").val()));
                    valfixedasset=parseFloat(normal_format( $(this).children(".fixedasset").val()));
                    valfinanacialasset=parseFloat(normal_format( $(this).children(".finanacialasset").val()));
                     valinventories=parseFloat(normal_format( $(this).children(".inventories").val()));
                     valtrade=parseFloat(normal_format( $(this).children(".trade").val()));
                     valothercurrentassets=parseFloat(normal_format( $(this).children(".othercurrentassets").val()));
                     valcash=parseFloat(normal_format( $(this).children(".cash").val()));
                     valtotalcurrentassets=parseFloat(( $(this).children(".totalcurrentassets").val()));
                     valtotalassets=parseFloat(normal_format( $(this).children(".totalassets").val()));
                     valequity=parseFloat(normal_format( $(this).children(".equity").val()));
                     valfinancialdebt=parseFloat( $(this).children(".financialdebt").val());
                     valpensionprovisions=parseFloat(normal_format( $(this).children(".pensionprovisions").val()));
                     valotherprovisions=parseFloat(normal_format( $(this).children(".otherprovisions").val()));
                     valtradepayables=parseFloat(normal_format( $(this).children(".tradepayables").val()));
                     valotherliabilities=parseFloat(normal_format( $(this).children(".otherliabilities").val()));
                     valtotalliabilities=parseFloat(normal_format( $(this).children(".totalliabilities").val()));
                    valtotalequity=parseFloat(normal_format( $(this).children(".totalequity").val()));

                     valcapitalexpendituresinfixedasset=parseFloat(normal_format( $(this).children(".capitalexpendituresinfixedasset").val()));
                     valcapitalexpenditurepercent=parseFloat($(this).children(".capitalexpenditurepercent").val());
                     valnetcurrentassets=parseFloat(normal_format( $(this).children(".netcurrentassets").val()));
                    valnetcurrentassetspercent=parseFloat( $(this).children(".netcurrentassetspercent").val());
                    useronline="{{usernm}}";
       $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/datasubmit/{{user12}}",
          data:
          {
          "nowuser":useronline,
          "years":valyear,
          "revenue":valrevenue,
          "materialexpenses":valmaterialexpenses,
          "personnelexpenses":valpersonnelexpenses,
          "otherexpenses":valotherexpenses,
          "otherincome":valotherincome,
          "ebitda":valebitda,
          "ebitdamargin":valebitdamargin,
          "depreciation":valdepreciation,
          "ebit":valebit,
          "ebitmargin":valebitmargin,
          "interestexpenses":valinterestexpenses,
          "interestincome":valinterestincome,
          "ebt":valebt,
          "incometax":valincometax,
          "netincome":valnetincome,


          "fixedasset":valfixedasset,
          "finanacialasset":valfinanacialasset,
          "inventories":valinventories,
          "trade":valtrade,
          "othercurrentassets":valothercurrentassets,
          "cash":valcash,
          "totalcurrentassets":valtotalcurrentassets,
          "totalassets":valtotalassets,
          "equity":valequity,
          "financialdebt":valfinancialdebt,
          "pensionprovisions":valpensionprovisions,
          "otherprovisions":valotherprovisions,
          "tradepayables":valtradepayables,
          "otherliabilities":valotherliabilities,
          "totalliabilities":valtotalliabilities,
          "totalequity":valtotalequity,

          "capitalexpendituresinfixedasset":valcapitalexpendituresinfixedasset,
          "capitalexpenditurepercent":valcapitalexpenditurepercent,
          "netcurrentassets":valnetcurrentassets,
          "netcurrentassetspercent":valnetcurrentassetspercent,
           }
       });
       }

     });





});

currentyr=new Date().getFullYear();
 $(document).ready(function(){

 valinventories=0;
 valrev=0;
 yr=0;
 valcefa=0;
 valme=0;
 val0e=0;

         $(".col-sm-4").each(function()

         {
        // alert($(this).attr("class"));

           if($(this).attr("class").indexOf("income_statement")!=-1)
             yr =$(this).attr("class").slice(30,);

             if($(this).attr("class").indexOf("balance_sheet")!=-1)
             yr =$(this).attr("class").slice(27,);

             if($(this).attr("class").indexOf("investment")!=-1)
             yr =$(this).attr("class").slice(24,);


             if($(this).attr("class").indexOf("other_calculation")!=-1)
             yr =$(this).attr("class").slice(26,);


            if( typeof($(this).attr("class"))!="undefined"   &&  $(this).attr("class").indexOf("year")!=-1)
             {
              if(typeof($(this).children(".inventories").val())=="undefined" || $(this).prev().children(".inventories").length==0)
               {
                   $(".balance_sheet").each(function(){
                         if( typeof($(this).attr("class"))!="undefined"   &&  $(this).attr("class").indexOf("balance_sheet year"+yr)!=-1) {
                              //  alert($(this).attr("class"));
                                valinventories=parseFloat(normal_format($(this).children(".inventories").val()));

                                valtrade=parseFloat(normal_format($(this).children(".tradepayables").val()));

                          }
                    });

               }

               if(typeof($(this).children(".revenues").val())!="undefined" || $(this).prev().children(".revenues").length==0)
               {
                   $(".income_statement").each(function(){
                         if( typeof($(this).attr("class"))!="undefined"   &&  $(this).attr("class").indexOf("income_statement year"+yr )!=-1) {
                               // alert($(this).attr("class"));

                                valrev=parseFloat(normal_format($(this).children(".revenues").val()));
                                valme=parseFloat(normal_format($(this).children(".materialexpenses").val()));
                                valoe=parseFloat(normal_format($(this).children(".otherexpenses").val()));

                          }
                    });

               }
               ////debugger;
                $(".other_calculation").each(function(){
              yr1 =$(this).attr("class").slice(31,);

             if (yr1 == yr){
             // alert($(this).attr("class"));
            // alert(yr1);
            // alert("valinventories"+valinventories);
            // alert("valrev"+valrev);
            // alert("valtrade"+valtrade);
            // alert(yr1+"     dos      "+DOS_calculate(valinventories,valrev).toFixed(2));
            // alert(yr1+"     dso      "+DSO_calculate(valtrade,valrev).toFixed(2));

             $(this).children(".dos").val((DOS_calculate(valinventories,valrev).toFixed()));
             $(this).children(".dso").val((DSO_calculate(valtrade,valrev).toFixed()));
              $(this).children(".dpo").val((DPO_calculate(valtrade,valme,valoe).toFixed()));

              }
             });





            }



          yr= yr + 1;

         })


})
</script>




</html>