<!DOCTYPE html>
<html lang="en">
<head>    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/EvalCalculation2.js') }}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <title>Title</title>
	<style>
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1368px) {
  .container {
    max-width: 1330px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid rgba(123, 30, 43, 0.9);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width:105%; /* Could be more or less, depending on screen size */
}
.txt {
//width:50%;
text-align:right;
}

</style>
	 <style>
    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }
    .goog-te-combo > option:not([value="en"]):not([value="de" ]):not([value="es" ])

{
display:none;
}
.goog-logo-link
 {
    display: none !important;
    }
</style>
	<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({}, 'google_translate_element');
}
</script>

</head>
<script>
$(document).ready(function(){
              $.ajax({
                              type: "POST",
                              dataType: 'json',
                              async: false,
                              cache: false,
                             url: "/getsession",
                             success: function(e)
                             {

                             if(e.session_message=="You were logged out" )
                             {
                                window.location.href="/login";

                             }

                             }
                         })


/*
 $("#register").click(function()
 {
                    totalrevenue=$("#revenues").val();
                    materialexp=$("#materialexp").val();
                    personalexp=$("#personalexp").val();
                    otherexp=$("#otherexp").val();
                    otherincome=$("#otherincome").val();
                    depreciation=$("#depreciation").val();
                    interestexp=$("#interestexp").val();
                    interestincome=$("#interestincome").val();
                    incometax=$("#incometaxes").val();
                    pertotalrevenue=$("#perrevenues").val();
                    permaterialexp=$("#permaterialexp").val();
                    perpersonalexp=$("#perpersonalexp").val();
                    perotherexp=$("#perotherexp").val();
                    perotherincome=$("#perotherincome").val();
                    perdepreciation=$("#perdepreciation").val();
                    perinterestexp=$("#perinterestexp").val();
                    perinterestincome=$("#perinterestincome").val();
                    perincometax=$("#incometaxes").val();

                    country=$("#country option:selected").text();
                    emailaddress=$("#email").val();
                    contactnumber=$("#phonenumber").val();
                    firstname=$("#fname").val();
                    lastname=$("#lname").val();
                    industryname=$("#industry option:selected").val();
                    city=$("#city").val();
                    address=$("#address").val();
                    state=$("#state").val();
                    zip=$("#zip").val();
                    website=$("#website").val();

                    companyname=parseFloat($("#companyname").val());



              



  });

*/
});





</script>
<body>
 <div class='fixedcontaint' style="margin:0px">
    <nav class='inner-container navbar navbar-expand-sm' style="margin:0px">
        <span class='logo navbar-brand' >
            <a>
            <img height='40' width='120' src='https://www.avandil.com/wp-content/uploads/2015/11/Avandil-Logo.png' alt='AVANDIL - Unternehmensverkauf und Unternehmenskauf' />
            <span style="color:black;none;font-size:20px;display:inline-block;vertical-align:bottom">e-Valuation</span>
           </a>
        </span>

    </nav>

    <br>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/login"><b><i>AVANDIL</i> </b>e-Valuation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/login">Home</a></li>

        <li><a href="#"></a></li>
		  <li><a href="#">                    </a></li>
		  <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    {% if session['logged_in'] == True %}
      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
    {% else %}
      <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
    {% endif %}
</ul>
		 <ul class="nav navbar-nav navbar-right"><li> <div id="google_translate_element"></div>
		 </li></ul>
    </div>
  </div>
</nav>
    </div>



 <ul class="nav nav-tabs " >
    <li class="active"><a data-toggle="tab"  align="center" style="background-color:yellow"> welcome {{user}}</a></li>
</ul>

<div class="container">
	<div class="col-lg-12 well modal-content  animate">

	<div class="row">
				<form  method="post" action="#">
						<div id="form1" >
							<h1 class="well" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold>Company Registration  </bold></h1>
							<div class="col-sm-12">
								<div class="row">
									<hr>
							<div class="col-sm-12 form-group">

								<label>Owner Details</label>
								<hr>
							</div>
							<div class="col-sm-10 form-group " >
								<label style="color:#808080"><i>Please enter your personal information. These information are mandatory for your registration.
								</i></label>
								<br>
							</div>

							<div class="col-sm-6 form-group " >
								<label>First Name*</label>
								<input type="text" placeholder="Enter First Name Here.." class="form-control fname" id="firstname" name="firstname">
							</div>
							<br>
							<div class="col-sm-6 form-group" >
								<label>Last Name*</label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control lname" id="lastname" name="lastname">
							</div>
					        <div class="col-sm-12">
					<div class="form-group">
						<label>Contact Number*</label>
						<input type="text" placeholder="Enter Phone Number Here.." class="form-control phonenumber" id="contactnumber" name="contactnumber" >
					</div>
				     	<div class="form-group">
						<label>Email Address</label>
						<input type="text" placeholder="Enter Email Address Here.." class="form-control email" id="emailaddress" name="emailaddress" value="{{usernm}}" readonly>
					</div>
					</div>
							<div class="col-sm-12 form-group">
						<br>
								<hr>
							<label>Company Details</label>
								<hr>
							</div>
     					    <div class="col-sm-12 form-group">
						<label style="color:#808080">Enter the information about your company.The address information are also mandatory for your registration.</label>
						<br>
						<br>
						<label>Company Name</label>
						<input type="text" placeholder="Enter Company Name Here.." class="form-control col-sm-6" id="companyname" name="companyname"  >
						<br>
						<br><br>
						<br><br>
							<label>Company mailing address</label>
							<textarea placeholder="Enter Address Here.." rows="3" class="form-control address" id="address" name="address" ></textarea>
						</div>
	         				<div class="form-group">


						<div class="row col-sm-12">
							<br>
							<div class="col-sm-6 form-group">

								<label>City</label>
								<input type="text" placeholder="Enter City Name Here.." class="form-control city" id="city" name="city" >
							</div>
							<div class="col-sm-6 form-group">
								<label>State</label>
								<input type="text" placeholder="Enter State Name Here.." class="form-control state" id="state" name="state" >
							</div>

						</div>
							<div class="row col-sm-12">
							<div class="col-sm-6 form-group">
								<label>Zip</label>
								<input type="text" placeholder="Enter Zip Code Here.." class="form-control zip" name="zip" id="zip" >
							</div>
							<div class="col-sm-6 form-group" >
								<label>Country</label>
								<select name="country" id="country" class="form-control"  >
									<option value="" class="form-control" >Country...</option>
									<option name="country" value="AF">Afghanistan</option>
									<option name="country" value="AL">Albania</option>
									<option name="country" value="DZ">Algeria</option>
									<option name="country" value="AS">American Samoa</option>
									<option name="country" value="AD">Andorra</option>
									<option name="country" value="AG">Angola</option>
									<option name="country" value="AI">Anguilla</option>
									<option name="country" value="AG">Antigua &amp; Barbuda</option>
									<option name="country" value="AR">Argentina</option>
									<option name="country" value="AA">Armenia</option>
									<option name="country" value="AW">Aruba</option>
									<option name="country" value="AU">Australia</option>
									<option name="country" value="AT">Austria</option>
									<option name="country" value="AZ">Azerbaijan</option>
									<option name="country" value="BS">Bahamas</option>
									<option name="country" value="BH">Bahrain</option>
									<option name="country" value="BD">Bangladesh</option>
									<option name="country" value="BB">Barbados</option>
									<option name="country" value="BY">Belarus</option>
									<option name="country" value="BE">Belgium</option>
									<option name="country" value="BZ">Belize</option>
									<option name="country" value="BJ">Benin</option>
									<option name="country" value="BM">Bermuda</option>
									<option name="country" value="BT">Bhutan</option>
									<option name="country" value="BO">Bolivia</option>
									<option name="country" value="BL">Bonaire</option>
									<option name="country" value="BA">Bosnia &amp; Herzegovina</option>
									<option name="country" value="BW">Botswana</option>
									<option name="country" value="BR">Brazil</option>
									<option name="country" value="BC">British Indian Ocean Ter</option>
									<option name="country" value="BN">Brunei</option>
									<option name="country" value="BG">Bulgaria</option>
									<option name="country" value="BF">Burkina Faso</option>
									<option name="country" value="BI">Burundi</option>
									<option name="country" value="KH">Cambodia</option>
									<option name="country" value="CM">Cameroon</option>
									<option name="country" value="CA">Canada</option>
									<option name="country" value="IC">Canary Islands</option>
									<option name="country" value="CV">Cape Verde</option>
									<option name="country" value="KY">Cayman Islands</option>
									<option name="country" value="CF">Central African Republic</option>
									<option name="country" value="TD">Chad</option>
									<option name="country" value="CD">Channel Islands</option>
									<option name="country" value="CL">Chile</option>
									<option name="country" value="CN">China</option>
									<option name="country" value="CI">Christmas Island</option>
									<option name="country" value="CS">Cocos Island</option>
									<option name="country" value="CO">Colombia</option>
									<option name="country" value="CC">Comoros</option>
									<option name="country" value="CG">Congo</option>
									<option name="country" value="CK">Cook Islands</option>
									<option name="country" value="CR">Costa Rica</option>
									<option name="country" value="CT">Cote D'Ivoire</option>
									<option name="country" value="HR">Croatia</option>
									<option name="country" value="CU">Cuba</option>
									<option name="country" value="CB">Curacao</option>
									<option name="country" value="CY">Cyprus</option>
									<option name="country" value="CZ">Czech Republic</option>
									<option name="country" value="DK">Denmark</option>
									<option name="country" value="DJ">Djibouti</option>
									<option name="country" value="DM">Dominica</option>
									<option name="country" value="DO">Dominican Republic</option>
									<option name="country" value="TM">East Timor</option>
									<option name="country" value="EC">Ecuador</option>
									<option name="country" value="EG">Egypt</option>
									<option name="country" value="SV">El Salvador</option>
									<option name="country" value="GQ">Equatorial Guinea</option>
									<option name="country" value="ER">Eritrea</option>
									<option name="country" value="EE">Estonia</option>
									<option name="country" value="ET">Ethiopia</option>
									<option name="country" value="FA">Falkland Islands</option>
									<option name="country" value="FO">Faroe Islands</option>
									<option name="country" value="FJ">Fiji</option>
									<option name="country" value="FI">Finland</option>
									<option name="country" value="FR">France</option>
									<option name="country" value="GF">French Guiana</option>
									<option name="country" value="PF">French Polynesia</option>
									<option name="country" value="FS">French Southern Ter</option>
									<option name="country" value="GA">Gabon</option>
									<option name="country" value="GM">Gambia</option>
									<option name="country" value="GE">Georgia</option>
									<option name="country" value="DE">Germany</option>
									<option name="country" value="GH">Ghana</option>
									<option name="country" value="GI">Gibraltar</option>
									<option name="country" value="GB">Great Britain</option>
									<option name="country" value="GR">Greece</option>
									<option name="country" value="GL">Greenland</option>
									<option name="country" value="GD">Grenada</option>
									<option name="country" value="GP">Guadeloupe</option>
									<option name="country" value="GU">Guam</option>
									<option name="country" value="GT">Guatemala</option>
									<option name="country" value="GN">Guinea</option>
									<option name="country" value="GY">Guyana</option>
									<option name="country" value="HT">Haiti</option>
									<option name="country" value="HW">Hawaii</option>
									<option name="country" value="HN">Honduras</option>
									<option name="country" value="HK">Hong Kong</option>
									<option name="country" value="HU">Hungary</option>
									<option name="country" value="IS">Iceland</option>
									<option name="country" value="IN">India</option>
									<option name="country" value="ID">Indonesia</option>
									<option name="country" value="IA">Iran</option>
									<option name="country" value="IQ">Iraq</option>
									<option name="country" value="IR">Ireland</option>
									<option name="country" value="IM">Isle of Man</option>
									<option name="country" value="IL">Israel</option>
									<option name="country" value="IT">Italy</option>
									<option name="country" value="JM">Jamaica</option>
									<option name="country" value="JP">Japan</option>
									<option name="country" value="JO">Jordan</option>
									<option name="country" value="KZ">Kazakhstan</option>
									<option name="country" value="KE">Kenya</option>
									<option name="country" value="KI">Kiribati</option>
									<option name="country" value="NK">Korea North</option>
									<option name="country" value="KS">Korea South</option>
									<option name="country" value="KW">Kuwait</option>
									<option name="country" value="KG">Kyrgyzstan</option>
									<option name="country" value="LA">Laos</option>
									<option name="country" value="LV">Latvia</option>
									<option name="country" value="LB">Lebanon</option>
									<option name="country" value="LS">Lesotho</option>
									<option name="country" value="LR">Liberia</option>
									<option name="country" value="LY">Libya</option>
									<option name="country" value="LI">Liechtenstein</option>
									<option name="country" value="LT">Lithuania</option>
									<option name="country" value="LU">Luxembourg</option>
									<option name="country" value="MO">Macau</option>
									<option name="country" value="MK">Macedonia</option>
									<option name="country" value="MG">Madagascar</option>
									<option name="country" value="MY">Malaysia</option>
									<option name="country" value="MW">Malawi</option>
									<option name="country" value="MV">Maldives</option>
									<option name="country" value="ML">Mali</option>
									<option name="country" value="MT">Malta</option>
									<option name="country" value="MH">Marshall Islands</option>
									<option name="country" value="MQ">Martinique</option>
									<option name="country" value="MR">Mauritania</option>
									<option name="country" value="MU">Mauritius</option>
									<option name="country" value="ME">Mayotte</option>
									<option name="country" value="MX">Mexico</option>
									<option name="country" value="MI">Midway Islands</option>
									<option name="country" value="MD">Moldova</option>
									<option name="country" value="MC">Monaco</option>
									<option name="country" value="MN">Mongolia</option>
									<option name="country" value="MS">Montserrat</option>
									<option name="country" value="MA">Morocco</option>
									<option name="country" value="MZ">Mozambique</option>
									<option name="country" value="MM">Myanmar</option>
									<option name="country" value="NA">Nambia</option>
<option name="country" value="NU">Nauru</option>
<option name="country" value="NP">Nepal</option>
<option name="country" value="AN">Netherland Antilles</option>
<option name="country" value="NL">Netherlands (Holland, Europe)</option>
<option name="country" value="NV">Nevis</option>
<option name="country" value="NC">New Caledonia</option>
<option name="country" value="NZ">New Zealand</option>
<option name="country" value="NI">Nicaragua</option>
<option name="country" value="NE">Niger</option>
<option name="country" value="NG">Nigeria</option>
<option name="country" value="NW">Niue</option>
<option name="country" value="NF">Norfolk Island</option>
<option name="country" value="NO">Norway</option>
<option name="country" value="OM">Oman</option>
<option name="country" value="PK">Pakistan</option>
<option name="country" value="PW">Palau Island</option>
<option name="country" value="PS">Palestine</option>
<option name="country" value="PA">Panama</option>
<option name="country" value="PG">Papua New Guinea</option>
<option name="country" value="PY">Paraguay</option>
<option name="country" value="PE">Peru</option>
<option name="country" value="PH">Philippines</option>
<option name="country" value="PO">Pitcairn Island</option>
<option name="country" value="PL">Poland</option>
<option name="country" value="PT">Portugal</option>
<option name="country" value="PR">Puerto Rico</option>
<option name="country" value="QA">Qatar</option>
<option name="country" value="ME">Republic of Montenegro</option>
<option name="country" value="RS">Republic of Serbia</option>
<option name="country" value="RE">Reunion</option>
<option name="country" value="RO">Romania</option>
<option name="country" value="RU">Russia</option>
<option name="country" value="RW">Rwanda</option>
<option name="country" value="NT">St Barthelemy</option>
<option name="country" value="EU">St Eustatius</option>
<option name="country" value="HE">St Helena</option>
<option name="country" value="KN">St Kitts-Nevis</option>
<option name="country" value="LC">St Lucia</option>
<option name="country" value="MB">St Maarten</option>
<option name="country" value="PM">St Pierre &amp; Miquelon</option>
<option name="country" value="VC">St Vincent &amp; Grenadines</option>
<option name="country" value="SP">Saipan</option>
<option name="country" value="SO">Samoa</option>
<option name="country" value="AS">Samoa American</option>
<option name="country" value="SM">San Marino</option>
<option name="country" value="ST">Sao Tome &amp; Principe</option>
<option name="country" value="SA">Saudi Arabia</option>
<option name="country" value="SN">Senegal</option>
<option name="country" value="RS">Serbia</option>
<option name="country" value="SC">Seychelles</option>
<option name="country" value="SL">Sierra Leone</option>
<option name="country" value="SG">Singapore</option>
<option name="country" value="SK">Slovakia</option>
<option name="country" value="SI">Slovenia</option>
<option name="country" value="SB">Solomon Islands</option>
<option name="country" value="OI">Somalia</option>
<option name="country" value="ZA">South Africa</option>
<option name="country" value="ES">Spain</option>
<option name="country" value="LK">Sri Lanka</option>
<option name="country" value="SD">Sudan</option>
<option name="country" value="SR">Suriname</option>
<option name="country" value="SZ">Swaziland</option>
<option name="country" value="SE">Sweden</option>
<option name="country" value="CH">Switzerland</option>
<option name="country" value="SY">Syria</option>
<option name="country" value="TA">Tahiti</option>
<option name="country" value="TW">Taiwan</option>
<option name="country" value="TJ">Tajikistan</option>
<option name="country" value="TZ">Tanzania</option>
<option name="country" value="TH">Thailand</option>
<option name="country" value="TG">Togo</option>
<option name="country" value="TK">Tokelau</option>
<option name="country" value="TO">Tonga</option>
<option name="country" value="TT">Trinidad &amp; Tobago</option>
<option name="country" value="TN">Tunisia</option>
<option name="country" value="TR">Turkey</option>
<option name="country" value="TU">Turkmenistan</option>
<option name="country" value="TC">Turks &amp; Caicos Is</option>
<option name="country" value="TV">Tuvalu</option>
<option name="country" value="UG">Uganda</option>
<option name="country" value="UA">Ukraine</option>
<option name="country" value="AE">United Arab Emirates</option>
<option name="country" value="GB">United Kingdom</option>
<option name="country" value="US">United States of America</option>
<option name="country" value="UY">Uruguay</option>
<option name="country" value="UZ">Uzbekistan</option>
<option name="country" value="VU">Vanuatu</option>
<option name="country" value="VS">Vatican City State</option>
<option name="country" value="VE">Venezuela</option>
<option name="country" value="VN">Vietnam</option>
<option name="country" value="VB">Virgin Islands (Brit)</option>
<option name="country" value="VA">Virgin Islands (USA)</option>
<option name="country" value="WK">Wake Island</option>
<option name="country" value="WF">Wallis &amp; Futana Is</option>
<option name="country" value="YE">Yemen</option>
<option name="country" value="ZR">Zaire</option>
<option name="country" value="ZM">Zambia</option>
<option name="country" value="ZW">Zimbabwe</option>
</select>
							</div>

						</div>
					<hr>
						<div class="col-sm-12">
						<div class="row">
                			<div class="col-sm-6 form-group" >
								<label>Industry</label>
								<select name="industry" class="form-control " id="industry" name="industry" >
                                <option name="industry" value="*Please Select*" selected="selected" >*Please Select*</option>
								<option name="industry" value="Basic Industries"  >Basic Industries</option>
								<option name="industry" value="Finance"  >Finance</option>
								<option name="industry" value="Capital Goods"  >Capital Goods</option>
								<option name="industry" value="Healthcare"  >Healthcare</option>
								<option name="industry" value="Consumer Durables"  >Consumer Durables</option>
								<option name="industry" value="Miscellaneous"  >Miscellaneous</option>
								<option name="industry" value="Consumer Non-Durables"  >Consumer Non-Durables</option>
								<option name="industry" value="Public Utilities"  >Public Utilities</option>
								<option name="industry" value="Consumer Services"  >Consumer Services</option>

								<option name="industry" value="Technology"  >Technology</option>
								<option name="industry" value="Energy"  >Energy</option>
								<option name="industry" value="Transportation"  >Transportation</option>
								</select>
								</div>
							<div class="form-group col-sm-6">
						      <label>Website</label>
						     <input type="text" placeholder="Enter Website Name Here.." class="form-control website" id="website" name="website">
					    </div>
	     				</div>
						</div>


					<div class="col-sm-12" align="right">
						<hr>
						<br>
						<br>

					<button type="button" class="btn btn-lg btn-info" id="nextbtn"  width="320px">Register Company >>> </button>
					<br>
						<br>
					</div>
					</div>
							</div>
						</div>
					</div>
					    <div id="form2" hidden>
							<h1 class="well" align="center" font-family= "Times New Roman" style="font-size:28px;color:#404041;font-weight:normal;margin-bottom:40px;"> <bold><i>P&L</i> Calculation  </bold></h1>
							<div class=" form-group col-sm-12" >
								<hr>
								<ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav nav-tabs "  >
            <li class="active"><a data-toggle="tab" id="income_statement" align="center" style="background-color:grey">INCOME STATEMENT</a></li>
            <li><a data-toggle="tab" id="balance_sheet" align="center">BALANCE SHEET</a></li>
            <li><a data-toggle="tab" id="investment" align="center">INVESTMENTS</a></li>
        </ul>
        <br>
        <div id="income_statement_data"   class="row" >
            <div class="col-sm-3" style="border-style: inset;background-color:#f5f5f5;" >
                <span  fixed>
                <br><br><br>Total Revenues<br>
                <br>Material Expenses/Purchased Services<br>
                <br>Personnel Expenses<br>
                <br>Other Operating Expenses<br><br>
                <br><br>Other Operating Income<br>
                <br><b>EBITDA</b><br>
                <br><b>EBITDA Margin</b><br><br>
                <br><br><p>Depreciation & Amortization<br>
                <br><b>EBIT</b><br>
                <br><b>EBIT Margin</b><br><br>
                <br>Interest Expenses<br>
                <br><br>Interest Income<br>
                <br><b>EBT</b><br>
                <br><b>Income Taxes</b><br><br>
                <br><br><b>Net Income(Loss)</b><br>
                <br><br><br><br><br>
                    </span>
            </div>
            <!--<form  style="border-style: outset" method="get">-->
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 income_statement year2015" align="left"><p align="center">Year {{yrdisplay[2]}}</p>

                                <br><b>(+)&nbsp;</b><input type="text"   class="grid-33 txt right_align revenues yr15"><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"   class="txt right_align materialexpenses yr15" ><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"   class=" txt right_align personnelexpenses yr15"><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"   class="txt right_align otherexpenses yr15"><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text"  class="txt right_align otherincome yr15"><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text"  class=" fixedtxt txt right_align ebitda yr15" style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitdamargin yr15 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align depreciation yr15"><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="sum1  right_align ebit yr15 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"   class=" right_align ebitmargin yr15 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align interestexpenses yr15"><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text"  class="txt right_align interestincome yr15"><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class="sum3  right_align ebt yr15 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"   class="txt right_align incometax yr15"><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class="right_align netincome yr15 txt fixedtxt txt" style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br>

                            </div>
                            <div class="col-sm-4 income_statement year2016" align="left"><p align="center">Year {{yrdisplay[1]}}</p>

                                <br><b>(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr16"><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr16" ><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr16"><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr16"><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr16"><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt txt right_align ebitda yr16" style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr16 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align depreciation yr16"><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="sum1  right_align ebit yr16 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr16 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align interestexpenses yr16"><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr16"><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr16 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align incometax yr16"><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr16 txt fixedtxt txt" style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br>

                            </div>
                            <div class="col-sm-4 income_statement year2017" align="left"><p align="center">Year {{yrdisplay[0]}}</p>

                                <br><b>(+)&nbsp;</b><input type="text"  class="grid-33 txt right_align revenues yr17"><span class="txt1 revenuesper" ></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align materialexpenses yr17" ><span class="txt1 materialexpensesper"></span><br>
                                <br><br><b>(-)&nbsp;&nbsp;</b><input type="text"  class=" txt right_align personnelexpenses yr17"><span class="txt1 personnelexpensesper"></span>&nbsp;<br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align otherexpenses yr17"><span class="txt1 otherexpensesper"></span>&nbsp;<br>

                                <br><br><b>(+)&nbsp;</b><input type="text" class="txt right_align otherincome yr17"><span class="txt1 otherincomeper"></span>&nbsp;<br>
                                <br><b>(+)&nbsp;</b><input type="text" class=" fixedtxt txt right_align ebitda yr17" style="text-align:right" disabled="disabled" class="sum"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class=" right_align ebitdamargin yr17 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align depreciation yr17"><span class="txt1 depreciationper"></span><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="sum1  right_align ebit yr17 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  class=" right_align ebitmargin yr17 fixedtxt txt" style="text-align:right" disabled="disabled"><b>&nbsp;%</b><br><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text" class="txt right_align interestexpenses yr17"><span class="txt1 interestexpensesper"></span><br>
                                <br><b>(+)&nbsp;</b><input type="text" class="txt right_align interestincome yr17"><span class="txt1 interestincomeper"></span><br>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="sum3  right_align ebt yr17 fixedtxt txt" style="text-align:right"  disabled="disabled"><br>
                                <br><b>(-)&nbsp;&nbsp;</b><input type="text"  class="txt right_align incometax yr17"><span class="txt1 incometaxper"></span><br>&nbsp;<br>
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="right_align netincome yr17 txt fixedtxt txt" style="text-align:right" style="text" disabled="disabled"><span class="txt1 netincomeper"></span><br>
                                <br><br><br><br>

                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>








        <div id="balance_sheet_data" class="row" style="display:none">
            <div class="col-sm-3" style="border-style: inset;background-color:#f5f5f5;"><br><br><br>Fixed assets<br>
                <br>Thereof financial assets<br>
                <br>Inventories<br>
                <br>Trade Receivables<br>
                <br><br>Cash & cash equivalents<br>
                <br>Other Current Assets<br>
                <br><b>Total Current Assets</b><br>
                <br><br><b>Total Assets</b><br>
                <br>Equity<br>
                <br>Financial Debts<br>
                <br>Pension Provisions<br>
                <br><br>Other Provisions<br>
                <br>Trade Payables<br>
                <br>Other Liabilities</b><br>
                <br><br><b>Total Liabilities</b><br>
                <br><b>Total Equity & Liabilities</b>
                <br><br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel1" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 balance_sheet year2015" align="center"><p>Year {{yrdisplay[2]}}</p>
                                <br><input type="text" class="txt1 txt right_align fixedasset yr15"><br>
                                <br><input type="text" class="txt1 txt right_align finanacialasset yr15"><br>
                                <br><input type="text" class="txt1 txt right_align inventories yr15"><br>
                                <br><input type="text" class="txt1 txt right_align trade yr15"><br>
                                <br><input type="text" class="txt1 txt right_align cash yr15"><br>
                                <br><input type="text" class="txt1 txt right_align othercurrentassets yr15"><br>
                                <br><input type="text" class="txt1 txt right_align totalcurrentassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align equity yr15"><br>
                                <br><input type="text" class="txt1 txt right_align financialdebt yr15"><br>
                                <br><input type="text" class="txt1 txt right_align pensionprovisions yr15"><br>
                                <br><input type="text" class="txt1 txt right_align otherprovisions yr15" ><br>
                                <br><input type="text" class="txt1 txt right_align tradepayables yr15"><br>
                                <br><input type="text" class="txt1 txt right_align otherliabilities yr15"><br>
                                <br><input type="text" class="txt1 txt right_align totalliabilities yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalequity yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2016" align="center"><p>Year {{yrdisplay[1]}}</p>
                                <br><input type="text" class="txt1 txt right_align fixedasset yr16"><br>
                                <br><input type="text" class="txt1 txt right_align finanacialasset yr16"><br>
                                <br><input type="text" class="txt1 txt right_align inventories yr16"><br>
                                <br><input type="text" class="txt1 txt right_align trade yr16"><br>
                                <br><input type="text" class="txt1 txt right_align cash yr16"><br>
                                <br><input type="text" class="txt1 txt right_align othercurrentassets yr16"><br>
                                <br><input type="text" class="txt1 txt right_align totalcurrentassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align equity yr16"><br>
                                <br><input type="text" class="txt1 txt right_align financialdebt yr16"><br>
                                <br><input type="text" class="txt1 txt right_align pensionprovisions yr16"><br>
                                <br><input type="text" class="txt1 txt right_align otherprovisions yr16" ><br>
                                <br><input type="text" class="txt1 txt right_align tradepayables yr16"><br>
                                <br><input type="text" class="txt1 txt right_align otherliabilities yr16"><br>
                                <br><input type="text" class="txt1 txt right_align totalliabilities yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalequity yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 balance_sheet year2017" align="center"><p>Year {{yrdisplay[0]}}</p>
                                <br><input type="text" class="txt1 txt right_align fixedasset yr17"><br>
                                <br><input type="text" class="txt1 txt right_align finanacialasset yr17"><br>
                                <br><input type="text" class="txt1 txt right_align inventories yr17"><br>
                                <br><input type="text" class="txt1 txt right_align trade yr17"><br>
                                <br><input type="text" class="txt1 txt right_align cash yr17"><br>
                                <br><input type="text" class="txt1 txt right_align othercurrentassets yr17"><br>
                                <br><input type="text" class="txt1 txt right_align totalcurrentassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align equity yr17"><br>
                                <br><input type="text" class="txt1 txt right_align financialdebt yr17"><br>
                                <br><input type="text" class="txt1 txt right_align pensionprovisions yr17"><br>
                                <br><input type="text" class="txt1 txt right_align otherprovisions yr17" ><br>
                                <br><input type="text" class="txt1 txt right_align tradepayables yr17"><br>
                                <br><input type="text" class="txt1 txt right_align otherliabilities yr17"><br>
                                <br><input type="text" class="txt1 txt right_align totalliabilities yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt1 txt right_align totalequity yr17" disabled="disabled">
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="investment_data" class="row" style="display:none;">
            <div class="col-sm-3" style=" border-style: inset;background-color:#f5f5f5;"><br><br><br>Capital expenditures in fixed asset<br>
                <br>Capital expenditures in fixed assets(%)<br>
                <br>Net current assets<br>
                <br>Net current assets(%)<br>
                <br><br><br><br>
            </div>
            <div class="col-sm-9" style="border-style: outset">
                <div id="mycarousel2" class="row carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-sm-4 investment year2015" align="center"><p>Year {{yrdisplay[2]}}</p>
                                <br><input type="text" class="txt2 txt right_align capitalexpendituresinfixedasset yr15"><br>
                                <br><input type="text" class="txt2 txt right_align capitalexpenditurepercent yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassets yr15" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassetspercent yr15" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2016" align="center"><p>Year {{yrdisplay[1]}}</p>
                                <br><input type="text" class="txt2 txt right_align capitalexpendituresinfixedasset yr16"><br>
                                <br><input type="text" class="txt2 txt right_align capitalexpenditurepercent yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassets yr16" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassetspercent yr16" disabled="disabled">
                                <br><br><br><br>
                            </div>
                            <div class="col-sm-4 investment year2017" align="center"><p>Year {{yrdisplay[0]}}</p>
                                <br><input type="text" class="txt2 txt right_align capitalexpendituresinfixedasset yr17"><br>
                                <br><input type="text" class="txt2 txt right_align capitalexpenditurepercent yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassets yr17" disabled="disabled"><br>
                                <br><input type="text" class="txt2 txt right_align netcurrentassetspercent yr17" disabled="disabled">
                                <br><br><br><br>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>



							<div class="col-sm-12" align="center" id="btn" hidden>
								<br>
								<br>
								<a  href="/firstregistration" id="submit2"> <button type="button" class="btn btn-lg btn-info" id="submit1" align="center" width="120px">Submit</button></a>
							<br>
								<br>
							</div>
						</div>
				</form>

	</div>
	</div>
</div>

<script type="text/javascript">

	$("#income_statement").click(function(){
               $("#income_statement_data").css("display","inline");
               $("#balance_sheet_data").css("display","none");
               $("#investment_data").css("display","none");
               $("#income_statement").css("background-color","grey");
               $("#balance_sheet").css("background-color","white");
               $("#investment").css("background-color","white");
               $("#income_statement").css("color","white");
               $("#balance_sheet").css("color","black");
               $("#investment").css("color","black");
               $(".row1").css("display","none");
              });

 $("#balance_sheet").click(function(){
              $("#income_statement_data").css("display","none");
              $("#balance_sheet_data").css("display","inline");
              $("#investment_data").css("display","none");
              $("#income_statement").css("background-color","white");
              $("#balance_sheet").css("background-color","grey");
              $("#investment").css("background-color","white");
              $("#income_statement").css("color","black");
              $("#balance_sheet").css("color","white");
              $("#investment").css("color","black");
              $(".row1").css("display","none");
             });

 $("#investment").click(function(){
             $("#income_statement_data").css("display","none");
             $("#balance_sheet_data").css("display","none");
             $("#investment_data").css("display","inline");
             $("#income_statement").css("background-color","white");
             $("#balance_sheet").css("background-color","white");
             $("#investment").css("background-color","grey");
             $("#income_statement").css("color","black");
             $("#balance_sheet").css("color","black");
             $("#investment").css("color","white");
             $(".row1").css("display","none");
           });



	 $("#nextbtn").click(function(){
        $("#form1").hide();
        $("#form2").show();

        $("#btn").show();

 });

 $("#submit2").click(function(){



var valyear=0,useronline=0,valrevenue=0,valmaterialexpenses=0,valpersonnelexpenses=0,valotherexpenses=0,valotherincome=0,valebitda=0,valebitdamargin=0,valdepreciation=0,valebit=0,valebitmargin=0,valinterestexpenses=0,valinterestincome=0,valebt=0,valincometax=0,valnetincome=0;
var valfixedasset=0,valfinanacialasset=0,valinventories=0,valtrade=0,valothercurrentassets=0,valcash=0,valtotalcurrentassets=0,valtotalassets=0,valequity=0,valfinancialdebt=0,valpensionprovisions=0,valotherprovisions=0,valtradepayables=0,valotherliabilities=0,valtotalliabilities=0,valtotalequity=0,valcapitalexpendituresinfixedasset=0,valcapitalexpenditurepercent=0,valnetcurrentassets =0,valnetcurrentassetspercent=0;

$("div").each(function(){
        if(typeof($(this).attr("class"))!="undefined"   && $(this).attr("class").indexOf("year")!=-1)
          {


                    valyear=$(this).attr("class");
                    useronline="{{usernm}}";
                    valrevenue=parseFloat(normal_format($(this).children(".revenues").val()));
                    valmaterialexpenses=parseFloat(normal_format( $(this).children(".materialexpenses").val()));
                    valpersonnelexpenses=parseFloat(normal_format( $(this).children(".personnelexpenses").val()));
                    valotherexpenses=parseFloat(normal_format( $(this).children(".otherexpenses").val()));
                    valotherincome=parseFloat(normal_format( $(this).children(".otherincome").val()));
                    valebitda=parseFloat(normal_format( $(this).children(".ebitda").val()));
                    valebitdamargin=parseFloat(( $(this).children(".ebitdamargin").val()));
                    valdepreciation=parseFloat(normal_format( $(this).children(".depreciation").val()));
                    valebit=parseFloat(normal_format( $(this).children(".ebit").val()));
                    valebitmargin=parseFloat( $(this).children(".ebitmargin").val());
                    valinterestexpenses=parseFloat(normal_format( $(this).children(".interestexpenses").val()));
                    valinterestincome=parseFloat(normal_format( $(this).children(".interestincome").val()));
                    valebt=parseFloat(normal_format( $(this).children(".ebt").val()));
                    valincometax=parseFloat(normal_format( $(this).children(".incometax").val()));
                    valnetincome=parseFloat(normal_format( $(this).children(".netincome").val()));
                    valfixedasset=parseFloat(normal_format( $(this).children(".fixedasset").val()));
                    valfinanacialasset=parseFloat(normal_format( $(this).children(".finanacialasset").val()));
                     valinventories=parseFloat(normal_format( $(this).children(".inventories").val()));
                     valtrade=parseFloat(normal_format( $(this).children(".trade").val()));
                     valothercurrentassets=parseFloat(normal_format( $(this).children(".othercurrentassets").val()));
                     valcash=parseFloat(normal_format( $(this).children(".cash").val()));
                     valtotalcurrentassets=parseFloat(( $(this).children(".totalcurrentassets").val()));
                     valtotalassets=parseFloat(normal_format( $(this).children(".totalassets").val()));
                     valequity=parseFloat(normal_format( $(this).children(".equity").val()));
                     valfinancialdebt=parseFloat( $(this).children(".financialdebt").val());
                     valpensionprovisions=parseFloat(normal_format( $(this).children(".pensionprovisions").val()));
                     valotherprovisions=parseFloat(normal_format( $(this).children(".otherprovisions").val()));
                     valtradepayables=parseFloat(normal_format( $(this).children(".tradepayables").val()));
                     valotherliabilities=parseFloat(normal_format( $(this).children(".otherliabilities").val()));
                     valtotalliabilities=parseFloat(normal_format( $(this).children(".totalliabilities").val()));
                    valtotalequity=parseFloat(normal_format( $(this).children(".totalequity").val()));

                     valcapitalexpendituresinfixedasset=parseFloat(normal_format( $(this).children(".capitalexpendituresinfixedasset").val()));
                     valcapitalexpenditurepercent=parseFloat(normal_format( $(this).children(".capitalexpenditurepercent").val()));
                     valnetcurrentassets=parseFloat(normal_format( $(this).children(".netcurrentassets").val()));
                    valnetcurrentassetspercent=parseFloat(normal_format( $(this).children(".netcurrentassetspercent").val()));
                    useronline="{{usernm}}";
                    valcompanyname=$("#companyname").val();
                  valaddress=$("#address").val();   
                valcity=$("#city").val();
                 valstate=$("#state").val();
                valzip=$("#zip").val();
                valcountry=country=$("#country option:selected").text();;
                 valwebsite=$("#website").val();
                   valindustryname=$("#industry option:selected").val();

                 valfirstname=$("#firstname").val();
                vallastname=$("#lastname").val();
              valcontactnumber=$("#contactnumber").val();
                valemailaddress=$("#emailaddress").val();






       $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,

          url: "/EvalCompanyDashboard/datasubmit/"+useronline,
          data:
          {

          "companyname":valcompanyname,
          "address":valaddress,
          "city":valcity,
          "state":valstate,
          "zip":valzip,
          "country":valcountry,
          "website":valwebsite,
          "firstname":valfirstname,
          "lastname":vallastname,
          "contactnumber":valcontactnumber,
          "emailaddress":valemailaddress,
          "industryname":valindustryname,

          "nowuser":useronline,
          "years":valyear,
          "revenue":valrevenue,
          "materialexpenses":valmaterialexpenses,
          "personnelexpenses":valpersonnelexpenses,
          "otherexpenses":valotherexpenses,
          "otherincome":valotherincome,
          "ebitda":valebitda,
          "ebitdamargin":valebitdamargin,
          "depreciation":valdepreciation,
          "ebit":valebit,
          "ebitmargin":valebitmargin,
          "interestexpenses":valinterestexpenses,
          "interestincome":valinterestincome,
          "ebt":valebt,
          "incometax":valincometax,
          "netincome":valnetincome,


          "fixedasset":valfixedasset,
          "finanacialasset":valfinanacialasset,
          "inventories":valinventories,
          "trade":valtrade,
          "othercurrentassets":valothercurrentassets,
          "cash":valcash,
          "totalcurrentassets":valtotalcurrentassets,
          "totalassets":valtotalassets,
          "equity":valequity,
          "financialdebt":valfinancialdebt,
          "pensionprovisions":valpensionprovisions,
          "otherprovisions":valotherprovisions,
          "tradepayables":valtradepayables,
          "otherliabilities":valotherliabilities,
          "totalliabilities":valtotalliabilities,
          "totalequity":valtotalequity,

          "capitalexpendituresinfixedasset":valcapitalexpendituresinfixedasset,
          "capitalexpenditurepercent":valcapitalexpenditurepercent,
          "netcurrentassets":valnetcurrentassets,
          "netcurrentassetspercent":valnetcurrentassetspercent,
           }
       });
       }

     });
});



</script>
</body>

</html>